
.vs/DCRM.Api/FileContentIndex/00e14d7f-33aa-46a3-bf5c-a5d63e5bac63.vsidx
.vs/DCRM.Api/FileContentIndex/1d09a09a-a91a-454a-bc64-3d6b53bbdde9.vsidx
.vs/DCRM.Api/FileContentIndex/439a5023-f2b1-4771-bbf4-56e7a220bc3d.vsidx
.vs/DCRM.Api/FileContentIndex/4428be30-0458-4875-a312-17d14c8bf361.vsidx
.vs/DCRM.Api/FileContentIndex/491c1c9b-a814-45e2-8c07-95e5dd555111.vsidx
.vs/DCRM.Api/FileContentIndex/80adde7c-5c02-47fb-ad73-6df1a9121d0f.vsidx
.vs/DCRM.Api/FileContentIndex/95cfc169-90bb-4289-bcad-71743bcf196f.vsidx
.vs/DCRM.Api/FileContentIndex/966c1e79-3b45-4f5a-96b2-6ab9473d508d.vsidx
.vs/DCRM.Api/FileContentIndex/bd6aa7cf-6fe7-4fad-8808-7fa677b9e0e0.vsidx
.vs/DCRM.Api/FileContentIndex/c8fe5a6a-707e-4589-a359-fb6564b64d01.vsidx
.vs/DCRM.Api/FileContentIndex/ca95a1a0-1355-4ee2-ad97-34d2175cfb38.vsidx
.vs/DCRM.Api/FileContentIndex/e53a1360-4270-4b87-979b-718ebbf42236.vsidx
.vs/DCRM.Api/FileContentIndex/f489deb3-83f1-4f9d-b879-a0bc20a89102.vsidx
.vs/DCRM.Api/v17/.futdcache.v2
.vs/DCRM.Api/v17/.suo
.vs/DCRM.Api/v17/fileList.bin
.vs/ProjectEvaluation/dcrm.api.metadata.v7.bin
.vs/ProjectEvaluation/dcrm.api.projects.v7.bin
.vs/slnx.sqlite
.vs/virmani_dotnet/config/applicationhost.config
.vs/virmani_dotnet/FileContentIndex/322c7012-037b-4404-9e31-e630534f746d.vsidx
.vs/virmani_dotnet/FileContentIndex/58dc4bb2-0801-43e6-9139-d600347fb3f9.vsidx
.vs/virmani_dotnet/FileContentIndex/8a509a54-6aa2-419a-9214-f79436036b04.vsidx
.vs/virmani_dotnet/FileContentIndex/bc2cc9ee-340a-4ded-8d64-e6bb603fd231.vsidx
.vs/virmani_dotnet/FileContentIndex/e6c9bf13-f42c-43d0-bbfa-8bb8a4e3b691.vsidx
.vs/virmani_dotnet/v17/.wsuo
.vs/virmani_dotnet/v17/workspaceFileList.bin
.vs/VSWorkspaceState.json
DCRM.Api/appsettings.json
DCRM.Api/bin/Debug/net6.0/appsettings.json
DCRM.Api/bin/Debug/net6.0/DCRM.Api.dll
DCRM.Api/bin/Debug/net6.0/DCRM.Api.exe
DCRM.Api/bin/Debug/net6.0/DCRM.Api.pdb
DCRM.Api/bin/Debug/net6.0/DCRM.Common.dll
DCRM.Api/bin/Debug/net6.0/DCRM.Common.pdb
DCRM.Api/bin/Debug/net6.0/DCRM.Repository.dll
DCRM.Api/bin/Debug/net6.0/DCRM.Repository.pdb
DCRM.Api/bin/Debug/net6.0/DCRM.Service.dll
DCRM.Api/bin/Debug/net6.0/DCRM.Service.pdb
DCRM.Api/obj/DCRM.Api.csproj.nuget.dgspec.json
DCRM.Api/obj/DCRM.Api.csproj.nuget.g.props
DCRM.Api/obj/Debug/net6.0/apphost.exe
DCRM.Api/obj/Debug/net6.0/DCRM.Api.assets.cache
DCRM.Api/obj/Debug/net6.0/DCRM.Api.csproj.AssemblyReference.cache
DCRM.Api/obj/Debug/net6.0/DCRM.Api.csproj.CoreCompileInputs.cache
DCRM.Api/obj/Debug/net6.0/DCRM.Api.csproj.FileListAbsolute.txt
DCRM.Api/obj/Debug/net6.0/DCRM.Api.dll
DCRM.Api/obj/Debug/net6.0/DCRM.Api.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Api/obj/Debug/net6.0/DCRM.Api.genruntimeconfig.cache
DCRM.Api/obj/Debug/net6.0/DCRM.Api.pdb
DCRM.Api/obj/Debug/net6.0/ref/DCRM.Api.dll
DCRM.Api/obj/Debug/net6.0/refint/DCRM.Api.dll
DCRM.Api/obj/project.assets.json
DCRM.Api/obj/project.nuget.cache
DCRM.Api/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DCRM.Api/obj/Release/net6.0/DCRM.Api.AssemblyInfo.cs
DCRM.Api/obj/Release/net6.0/DCRM.Api.AssemblyInfoInputs.cache
DCRM.Api/obj/Release/net6.0/DCRM.Api.assets.cache
DCRM.Api/obj/Release/net6.0/DCRM.Api.csproj.AssemblyReference.cache
DCRM.Api/obj/Release/net6.0/DCRM.Api.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Api/obj/Release/net6.0/DCRM.Api.GlobalUsings.g.cs
DCRM.Common/bin/Debug/net6.0/DCRM.Common.dll
DCRM.Common/bin/Debug/net6.0/DCRM.Common.pdb
DCRM.Common/obj/DCRM.Common.csproj.nuget.dgspec.json
DCRM.Common/obj/DCRM.Common.csproj.nuget.g.props
DCRM.Common/obj/Debug/net6.0/DCRM.Common.assets.cache
DCRM.Common/obj/Debug/net6.0/DCRM.Common.csproj.AssemblyReference.cache
DCRM.Common/obj/Debug/net6.0/DCRM.Common.csproj.CoreCompileInputs.cache
DCRM.Common/obj/Debug/net6.0/DCRM.Common.csproj.FileListAbsolute.txt
DCRM.Common/obj/Debug/net6.0/DCRM.Common.dll
DCRM.Common/obj/Debug/net6.0/DCRM.Common.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Common/obj/Debug/net6.0/DCRM.Common.pdb
DCRM.Common/obj/project.assets.json
DCRM.Common/obj/project.nuget.cache
DCRM.Common/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DCRM.Common/obj/Release/net6.0/DCRM.Common.AssemblyInfo.cs
DCRM.Common/obj/Release/net6.0/DCRM.Common.AssemblyInfoInputs.cache
DCRM.Common/obj/Release/net6.0/DCRM.Common.assets.cache
DCRM.Common/obj/Release/net6.0/DCRM.Common.csproj.AssemblyReference.cache
DCRM.Common/obj/Release/net6.0/DCRM.Common.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Common/obj/Release/net6.0/DCRM.Common.GlobalUsings.g.cs
DCRM.Repository/bin/Debug/net6.0/DCRM.Common.dll
DCRM.Repository/bin/Debug/net6.0/DCRM.Common.pdb
DCRM.Repository/bin/Debug/net6.0/DCRM.Repository.dll
DCRM.Repository/bin/Debug/net6.0/DCRM.Repository.pdb
DCRM.Repository/obj/DCRM.Repository.csproj.nuget.dgspec.json
DCRM.Repository/obj/DCRM.Repository.csproj.nuget.g.props
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.assets.cache
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.csproj.AssemblyReference.cache
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.csproj.CoreCompileInputs.cache
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.csproj.FileListAbsolute.txt
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.dll
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.genruntimeconfig.cache
DCRM.Repository/obj/Debug/net6.0/DCRM.Repository.pdb
DCRM.Repository/obj/project.assets.json
DCRM.Repository/obj/project.nuget.cache
DCRM.Repository/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DCRM.Repository/obj/Release/net6.0/DCRM.Repository.AssemblyInfo.cs
DCRM.Repository/obj/Release/net6.0/DCRM.Repository.AssemblyInfoInputs.cache
DCRM.Repository/obj/Release/net6.0/DCRM.Repository.assets.cache
DCRM.Repository/obj/Release/net6.0/DCRM.Repository.csproj.AssemblyReference.cache
DCRM.Repository/obj/Release/net6.0/DCRM.Repository.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Repository/obj/Release/net6.0/DCRM.Repository.GlobalUsings.g.cs
DCRM.Service/bin/Debug/net6.0/DCRM.Common.dll
DCRM.Service/bin/Debug/net6.0/DCRM.Common.pdb
DCRM.Service/bin/Debug/net6.0/DCRM.Repository.dll
DCRM.Service/bin/Debug/net6.0/DCRM.Repository.pdb
DCRM.Service/bin/Debug/net6.0/DCRM.Service.dll
DCRM.Service/bin/Debug/net6.0/DCRM.Service.pdb
DCRM.Service/obj/DCRM.Service.csproj.nuget.dgspec.json
DCRM.Service/obj/DCRM.Service.csproj.nuget.g.props
DCRM.Service/obj/Debug/net6.0/DCRM.Service.assets.cache
DCRM.Service/obj/Debug/net6.0/DCRM.Service.csproj.AssemblyReference.cache
DCRM.Service/obj/Debug/net6.0/DCRM.Service.csproj.CoreCompileInputs.cache
DCRM.Service/obj/Debug/net6.0/DCRM.Service.csproj.FileListAbsolute.txt
DCRM.Service/obj/Debug/net6.0/DCRM.Service.dll
DCRM.Service/obj/Debug/net6.0/DCRM.Service.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Service/obj/Debug/net6.0/DCRM.Service.genruntimeconfig.cache
DCRM.Service/obj/Debug/net6.0/DCRM.Service.pdb
DCRM.Service/obj/project.assets.json
DCRM.Service/obj/project.nuget.cache
DCRM.Service/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DCRM.Service/obj/Release/net6.0/DCRM.Service.AssemblyInfo.cs
DCRM.Service/obj/Release/net6.0/DCRM.Service.AssemblyInfoInputs.cache
DCRM.Service/obj/Release/net6.0/DCRM.Service.assets.cache
DCRM.Service/obj/Release/net6.0/DCRM.Service.csproj.AssemblyReference.cache
DCRM.Service/obj/Release/net6.0/DCRM.Service.GeneratedMSBuildEditorConfig.editorconfig
DCRM.Service/obj/Release/net6.0/DCRM.Service.GlobalUsings.g.cs
DCRM_UI/DCRMUI/package-lock.json
DCRM_UI/DCRMUI/package.json
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-add/dealer-add.component.html
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-add/dealer-add.component.scss
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-add/dealer-add.component.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-add/dealer-add.service.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-edit/dealer-edit.component.html
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-edit/dealer-edit.component.scss
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-edit/dealer-edit.component.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-edit/dealer-edit.service.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-form/dealer-form.component.html
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-form/dealer-form.component.scss
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-form/dealer-form.component.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-form/dealer-form.service.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-list/dealer-list.component.html
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-list/dealer-list.component.scss
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-list/dealer-list.component.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-list/dealer-list.service.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-preview/dealer-preview.component.html
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-preview/dealer-preview.component.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-preview/dealer-preview.service.scss
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealer-preview/dealer-preview.service.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/dealerdata.module.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/model/bank-details-form.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/model/dealer-from.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/model/material-list-form.ts
DCRM_UI/DCRMUI/src/app/main/clinic-admin/dealer/model/validation.ts
DCRM_UI/DCRMUI/src/app/shared-common/directives/mask/mask.directive.ts
DCRM_UI/DCRMUI/src/app/shared-common/directives/mask/mask.module.ts
DCRM_UI/DCRMUI/src/app/shared-common/pipes/error-message.pipe.ts
DCRM_UI/DCRMUI/src/app/shared-common/pipes/error-message.ts
DCRM_UI/DCRMUI/src/app/shared-common/services/common-validation.service.ts
DCRM_UI/DCRMUI/src/app/shared-common/shared-ui.module.ts
DCRM_UI/obj/DCRM_UI.csproj.nuget.dgspec.json
DCRM_UI/obj/DCRM_UI.csproj.nuget.g.props
DCRM_UI/obj/Debug/net6.0/DCRM_UI.assets.cache
DCRM_UI/obj/Debug/net6.0/DCRM_UI.GeneratedMSBuildEditorConfig.editorconfig
DCRM_UI/obj/project.assets.json
DCRM_UI/obj/project.nuget.cache
DCRM_UI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DCRM_UI/obj/Release/net6.0/DCRM_UI.AssemblyInfo.cs
DCRM_UI/obj/Release/net6.0/DCRM_UI.AssemblyInfoInputs.cache
DCRM_UI/obj/Release/net6.0/DCRM_UI.assets.cache
DCRM_UI/obj/Release/net6.0/DCRM_UI.GeneratedMSBuildEditorConfig.editorconfig
DCRM_UI/obj/Release/net6.0/DCRM_UI.GlobalUsings.g.cs
DCRM_UI/obj/Release/net6.0/DCRM_UI.RazorAssemblyInfo.cache
DCRM_UI/obj/Release/net6.0/DCRM_UI.RazorAssemblyInfo.cs
logs/webapi-20231005.log
logs/webapi-20231006.log
logs/webapi-20231007.log
logs/webapi-20231008.log
logs/webapi-20231009.log
.vs/DCRM.Api/DesignTimeBuild/.dtbcache.v2
.vs/DCRM.Api/FileContentIndex/82dda112-dc2c-4aa3-8556-ed3b3bbfab08.vsidx
.vs/DCRM.Api/FileContentIndex/9258898c-ba9c-49a6-aa60-d310596fd9bd.vsidx
.vs/DCRM.Api/FileContentIndex/951aa062-4525-40b2-8fc2-add928d9d669.vsidx
.vs/DCRM.Api/FileContentIndex/a475183d-768d-45b0-bd6a-6a4c26b2f8f9.vsidx
.vs/DCRM.Api/FileContentIndex/c57ea563-914b-4e43-8841-ba2ca70e82d8.vsidx
.vs/virmani_dotnet/FileContentIndex/2880ae32-1450-4f1e-8e91-2eca37e34374.vsidx
.vs/virmani_dotnet/FileContentIndex/6584fed7-5cc8-4784-833e-2b36fbed8538.vsidx
.vs/virmani_dotnet/FileContentIndex/a5f4abb8-00fd-46d2-8548-6c775999feda.vsidx
.vs/virmani_dotnet/FileContentIndex/c2d63ae9-d9a9-4f09-be64-5ec44eeaad05.vsidx
.vs/virmani_dotnet/FileContentIndex/e4c98357-a325-472c-9554-6296e3f40749.vsidx
.vs/virmani_dotnet/FileContentIndex/f22c555b-524c-4c9b-bcd8-b58e17a6b599.vsidx
DCRM.Common/obj/Debug/net6.0/ref/DCRM.Common.dll
DCRM.Common/obj/Debug/net6.0/refint/DCRM.Common.dll
DCRM.Repository/obj/Debug/net6.0/ref/DCRM.Repository.dll
DCRM.Repository/obj/Debug/net6.0/refint/DCRM.Repository.dll
DCRM.Service/obj/Debug/net6.0/ref/DCRM.Service.dll
DCRM.Service/obj/Debug/net6.0/refint/DCRM.Service.dll
logs/webapi-20231014.log
logs/webapi-20231015.log
logs/webapi-20231016.log
logs/webapi-20231017.log
logs/webapi-20231018.log
logs/webapi-20231019.log
logs/webapi-20231020.log
.vs/DCRM.Api/FileContentIndex/040216f5-e870-4784-af63-61dfdcd24c42.vsidx
.vs/DCRM.Api/FileContentIndex/185bab5e-7866-4a65-a93c-b024e3ceb7e5.vsidx
.vs/DCRM.Api/FileContentIndex/3168e0b5-05d3-4120-8303-74e3f214ef66.vsidx
.vs/DCRM.Api/FileContentIndex/43e73ad3-db18-4895-9383-97c815413f03.vsidx
/.vs/DCRM.Api/FileContentIndex
logs/webapi-20231027.log
logs/webapi-20231029.log
logs/webapi-20231030.log
