<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <h4 class="card-title">Change Password</h4>
                    <div class="card-body bgcolor">
                        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                            <div class="alert-body">
                                <p>{{ error }}</p>
                            </div>
                        </ngb-alert>
                        <ngb-alert [type]="'success'" [dismissible]="false" *ngIf="success">
                            <div class="alert-body">
                                <p>{{success }}</p>
                            </div>
                        </ngb-alert>
                        <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="country-floating">Old Password<span style="color:red">*</span></label>
                                        <input type="text"
                                               [(ngModel)]="changepassword.oldPassword"
                                               formControlName="oldPassword"
                                               class="form-control"
                                               aria-describedby="oldPassword"
                                               tabindex="1"
                                               autofocus
                                               [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                                        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="basic-salt">New Password<span style="color:red">*</span></label>
                                        <input type="text"
                                               [(ngModel)]="changepassword.newPassword"
                                               formControlName="newPassword"
                                               class="form-control"
                                               aria-describedby="newPassword"
                                               tabindex="2"
                                               maxlength="16"
                                               minlength="8"
                                               autofocus
                                               [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="form">Confirm Password <span style="color:red">*</span> </label>
                                        <input type="password"
                                               [(ngModel)]="changepassword.confirmPassword"
                                               formControlName="confirmPassword"
                                               class="form-control"
                                               aria-describedby="confirmPassword"
                                               tabindex="3"
                                               autofocus
                                               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="col-12" style="text-align:center">
                                    <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>