<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add">
                <!-- Invoice Add Left starts -->
                <div class="col-xl-12 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="row">
                                <div class="col-xl-9 col-md-8 col-12">
                                    <div>
                                        <h3 class="text-primary invoice-logo">{{ pageTitle }}</h3>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-8 col-12">
                                    <a class="btn btn-primary btn-sm ml-2 flot-right" href="/admin/patient/list"><i
                                            class="fa fa-list"></i> All Patients </a>
                                </div>
                            </div>
                            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                                <div class="alert-body">
                                    <p>{{ error }}</p>
                                </div>
                            </ngb-alert>
                            <div class="box-body pt-1 pb-1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="avatar-upload text-center">
                                                    <div class="avatar-edit">
                                                        <input type="file" name="photo" id="imageUpload"
                                                            accept=".png, .jpg, .jpeg"
                                                            (change)="convertToBase64($event)">
                                                        <label for="imageUpload"></label>
                                                    </div>
                                                    <div class="avatar-preview" id="imagePreview"
                                                        [style.background-image]="'url(' + base64Image + ')'"
                                                        *ngIf="base64Image">
                                                        <img [src]="base64Image" alt="Selected Image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <shared-ui-select-input [label]="'Title'" [control]="formData.title"
                                                        [options]="ITitleList" [valueKey]="'id'" [displaykey]="'text'"
                                                        [submitted]="submitted"></shared-ui-select-input>
                                                </div>
                                                <div class="col-md-4">
                                                    <shared-ui-text-input [label]="'Name'" [control]="formData.name"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                                <div class="col-md-4">
                                                    <shared-ui-text-input [label]="'Guardian Person'"
                                                        [control]="formData.guardian"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <shared-ui-select-input [label]="'Gender'" [control]="formData.sex"
                                                        [options]="IGender" [valueKey]="'id'" [displaykey]="'text'"
                                                        [submitted]="submitted"></shared-ui-select-input>
                                                </div>
                                                <div class="col-md-4">
                                                    <shared-ui-date-input [label]="'Date of Birth'"
                                                        [control]="formData.dob"
                                                        [submitted]="submitted"></shared-ui-date-input>
                                                </div>
                                                <div class="col-md-4">
                                                    <shared-ui-text-input [label]="'Age'" [control]="formData.age"
                                                        [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <shared-ui-text-input [label]="'Weight'" [control]="formData.weight"
                                                        [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                                <div class="col-md-4">
                                                    <shared-ui-textarea [label]="'Present Address'"
                                                        [control]="formData.present_Address"
                                                        [submitted]="submitted"></shared-ui-textarea>
                                                </div>
                                                <div class="col-md-4">
                                                    <shared-ui-textarea [label]="'Permanent Address'"
                                                        [control]="formData.permanent_Address"
                                                        [submitted]="submitted"></shared-ui-textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <h3 class="border-bottom pb-20">Contact Information</h3>
                                        <ng-container
                                            *ngFor="let contacts of formData.patientContacts.controls; let idx = index">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <shared-ui-text-input [label]="'Phone 1'"
                                                        [control]="contacts.phone1" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-3">
                                                    <shared-ui-text-input [label]="'Phone 2'"
                                                        [control]="contacts.phone2" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-3">
                                                    <shared-ui-text-input [label]="'Phone 3'"
                                                        [control]="contacts.phone3" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-3">
                                                    <<shared-ui-text-input [label]="'Phone 4'"
                                                        [control]="contacts.phone4" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <shared-ui-email-input [label]="'Email'" [control]="contacts.email"
                                                        [submitted]="submitted"></shared-ui-email-input>
                                                </div>

                                                <div class="col-md-4">
                                                    <shared-ui-email-input [label]="'Email 2'"
                                                        [control]="contacts.email2"
                                                        [submitted]="submitted"></shared-ui-email-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <shared-ui-text-input [label]="'Address (R)'"
                                                        [control]="contacts.address_R"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'City'" [control]="contacts.city_R"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Zip'" [control]="contacts.zip_R"
                                                        [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Country'"
                                                        [control]="contacts.country_R"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <shared-ui-text-input [label]="'Address (0)'"
                                                        [control]="contacts.address_O"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'City'" [control]="contacts.city_O"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Zip'" [control]="contacts.zip_O"
                                                        [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Country'"
                                                        [control]="contacts.country_O"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <shared-ui-text-input
                                                        [label]="'Address (Other if living away from City)'"
                                                        [control]="contacts.address_Other"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'City'"
                                                        [control]="contacts.city_Other"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Zip'" [control]="contacts.zip_Other"
                                                        [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Country'"
                                                        [control]="contacts.country_Other"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <shared-ui-text-input [label]="'Physician'"
                                                        [control]="contacts.physician"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-select-input [label]="'Referred By'"
                                                        [control]="contacts.reffered_By" [options]="IReferList"
                                                        [valueKey]="'id'" [displaykey]="'text'"
                                                        [submitted]="submitted"></shared-ui-select-input>
                                                </div>

                                                <div class="col-md-3">
                                                    <shared-ui-text-input [label]="'Doctor Name'"
                                                        [control]="contacts.doctor_Name"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Phone'" [control]="contacts.phone"
                                                        [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>

                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Relationship Type'"
                                                        [control]="formData.name"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <shared-ui-textarea [label]="'Medical History and Allergies'"
                                                        [control]="contacts.medical_History_Allergies"
                                                        [submitted]="submitted"></shared-ui-textarea>
                                                </div>

                                                <div class="col-md-6">
                                                    <shared-ui-textarea [label]="'Special Notes'"
                                                        [control]="contacts.special_Notes"
                                                        [submitted]="submitted"></shared-ui-textarea>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>

                                    <div class="insurance-loan-container">
                                        <h3 class="border-bottom pb-20">Insurance/Loan Information</h3>
                                        <ng-container
                                            *ngFor="let insuranceLoan of formData.patientInsuranceLoans.controls; let idx = index">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <shared-ui-select-input [label]="'Select Type'"
                                                        [control]="insuranceLoan.type" [options]="IInsureType"
                                                        [valueKey]="'id'" [displaykey]="'text'"
                                                        [submitted]="submitted"></shared-ui-select-input>
                                                </div>
                                                <div class="col-md-3">
                                                    <shared-ui-text-input [label]="'Name'"
                                                        [control]="insuranceLoan.name"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Amount'"
                                                        [control]="insuranceLoan.amount" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Amount Spent'"
                                                        [control]="insuranceLoan.balance_Spent" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                                <div class="col-md-2">
                                                    <shared-ui-text-input [label]="'Balance Amount'"
                                                        [control]="insuranceLoan.balance_Amount" [mask]="'numeric'"
                                                        [submitted]="submitted"></shared-ui-text-input>
                                                </div>
                                                <div class="col-md-1">
                                                    <ng-container
                                                        *ngIf="formData.patientInsuranceLoans.controls.length > 1;">
                                                        <div class="float-right">
                                                            <button type="button" (click)="removeInsuranceLoan(idx);"
                                                                rippleEffect class="btn btn-danger btn-sm mr-1 mt-2">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="col-md-12">
                                            <div class="float-right">
                                                <button type="button" (click)="addInsuranceLoan();" rippleEffect
                                                    class="btn btn-primary btn-sm">
                                                    <i class="fa fa-plus"></i> Add More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="float-right1 text-center">
                                            <a href="/admin/patient/list"
                                                class="btn btn-outline-secondary mr-1">Cancel</a>
                                            <button type="button" (click)="saveForm();" rippleEffect
                                                class="btn btn-primary ">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>