<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center bg-primary-soft"><i class="fa fa-calendar"></i></div>
                            <div class="m-l-10 align-self-center mt-10">
                                <h5 class="text-dark">Today's Appointment </h5>
                                <h4 class="m-0 text-dark">{{dashboardData.todayAppointmentCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center bg-success-soft"><i class="fa fa-calendar"></i></div>
                            <div class="m-l-10 align-self-center mt-10">
                                <h5 class="text-dark">Appointments </h5>
                                <h4 class="m-0 text-dark">{{dashboardData.appointmentCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center bg-danger-soft"><i class="fa fa-group"></i></div>
                            <div class="m-l-10 align-self-center mt-10">
                                <h5 class="text-dark">Staffs </h5>
                                <h4 class="m-0 text-dark">{{dashboardData.staffCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="round align-self-center bg-warning-soft"><i class="fa fa-user"></i></div>
                            <div class="m-l-10 align-self-center mt-10">
                                <h5 class="text-dark">Patients</h5>
                                <h4 class="m-0 text-dark">{{dashboardData.patientCount}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-12" >
                <div class="card card-congratulation-medal" style="height:300px">
                    <div class="card-body">
                        <h4 class="card-title mb-0">  Last 12 months Income</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-12" >
                <div class="card card-congratulation-medal" style="height:100px">
                    <div class="card-body">
                        <h4 class="card-title mb-0"> Net Income</h4>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
