
@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/bootstrap-extended/_include'; 

.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 600px;
    overflow:scroll;
}
.modal-dialog{
    max-width:800px!important
}
.pd-25{
    padding:25px!important;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #b5b1c1;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

