


<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add">
                <!-- Invoice Add Left starts -->

                <div class="col-xl-12 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="row">
                                <div class="col-xl-5 col-md-8 col-12">
                                    <h3 class="text-primary invoice-logo">Chair View</h3>
                                </div>
                                <div class="col-xl-7 col-md-8 col-12 ">
                                    <div class="row">
                                        <div class="col-xl-1 col-md-8 col-12 text-right"> </div>
                                        <div class="col-xl-11 col-md-8 col-12 text-right ">
                                            <a class="btn btn-light disabled" href="/admin/appointment/chairview" title="">Chair View</a>
                                            <a class="btn btn-primary  m-lg-1" href="/admin/appointment/calendarview" title="">Calendar View</a>
                                            <a class="btn btn-primary  m-lg-1" href="/admin/appointment/waitingroom" title="">Waiting Room</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-12 col-12">
                                    <div class="col-md-2 pull-right text-right">
                                        <a href="javascript://" (click)="printDiv()" class="btn btn-dark"><i class="fa fa-print"></i> Print</a>
                                    </div>
                                </div>
                            </div>
                            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                                <div class="alert-body">
                                    <p>{{ error }}</p>
                                </div>
                            </ngb-alert>
                            <div class="box-body pt-1 pb-1">
                                <div class="app_filtersblock">
                                    <div class="row">
                                        <div class="col-md-12 calender_filter pb-2">
                                            <form id="submit_form">
                                                <div class="col-md-3 d-inline-block">
                                                    <input type="hidden" name="casd" value="">
                                                    <label>Date</label>
                                                    <input type="date" style="height: auto;" (change)="dateChange($event)" tabindex="1" [(ngModel)]="searchParam.scheduleDate"
                                                           name="sdate" class="form-control" id="sdate" required="required" autocomplete="off">
                                                </div>
                                                <div class="col-md-3 d-inline-block">
                                                    <label style="width: 100%;">Doctor</label>
                                                    <span class="multiselect-native-select">
                                                        <select name="doctor_id[]" id="doctor_id_top" tabindex="2" [(ngModel)]="searchParam.doctorIds" class="select select-initialized form-control">
                                                            <option value="">None Selected</option>
                                                            <option *ngFor="let doctor of doctorList" value="{{doctor.id}}">{{doctor.name}}</option>
                                                        </select>

                                                    </span>
                                                </div>
                                                <div class="col-md-3 d-inline-block">
                                                    <label>Chairs </label>
                                                    <span class="multiselect-native-select">
                                                        <select name="chair_id[]" id="chair_id_top" class="form-control" tabindex="3" [(ngModel)]="searchParam.chairIds">
                                                            <option value="">None Selected</option>
                                                            <option *ngFor="let chair of chairList" value="{{chair.id}}">{{chair.name}}</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="col-md-3 d-inline-block">
                                                    <button type="submit" class="btn btn-primary px-40 mt-0" (click)="searchAppointment()">Filter</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="printDiv">
                                    <div class="col-md-12 calender_filter p-2">
                                        <div *ngIf="loading==true" class="table-loading">
                                            <div class="table-loading-text">
                                                Loading...
                                            </div>
                                        </div>
                                        <table class="table1 table-bordered table-hover" cellspacing="0" style="overflow:scroll;width:100%">
                                            <thead>
                                                <tr class="table-header">
                                                    <th width="10%" style="padding-left:5px;">Slot Time</th>
                                                    <th width="20%" *ngFor="let chair of chairList">{{chair.name}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let schedule of appointmentScheduleTimes">
                                                    <td width="20%" style="padding-left: 5px;"><strong>{{schedule.slatTime}}</strong></td>
                                                    <ng-container *ngFor="let chair of schedule.chairList">
                                                        <td width="20%" *ngIf="chair.appointmentDetails==null else appointmentCol">
                                                            <p *ngIf="chair.appointmentDetails==null" (click)="appointmentView(0,schedule.slatTime,chair.id);">
                                                                <a href="javascript://">Allot</a>
                                                            </p>
                                                        </td>
                                                        <ng-template #appointmentCol>
                                                            <td width="20%" *ngIf="chair.appointmentDetails.number_Of_Slot==1">
                                                                <p class="appointment-background pd-5px" *ngIf="chair.appointmentDetails.appointment_Status!=3">
                                                                    <input type="checkbox" name="name" checked="checked" (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)" value="0" *ngIf="chair.appointmentDetails.appointment_Status==4;else chairOut" />
                                                                    <ng-template #chairOut>
                                                                        <input type="checkbox" name="name" value="4"
                                                                               (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)"
                                                                               *ngIf="chair.appointmentDetails.appointment_Status!=2" />
                                                                    </ng-template>

                                                                    <a href="javascript://" (click)="appointmentView(chair.appointmentDetails.id,schedule.slatTime,chair.id,chair.appointmentDetails.appointment_Status);" class="text-white">
                                                                        <p>{{chair.appointmentDetails.patient_Name}}</p>
                                                                         <p>{{chair.appointmentDetails.patient_Address}}</p>
                                                                        <p><strong>Doctor:</strong> {{chair.appointmentDetails.doctor_Name}}</p>
                                                                    </a>
                                                                </p>
                                                            </td>
                                                            <td width="20%" *ngIf="chair.appointmentDetails.number_Of_Slot==2" rowspan="2">
                                                                <p class="appointment-background pd-5px" *ngIf="chair.appointmentDetails.appointment_Status!=3">
                                                                    <input type="checkbox" name="name" checked="checked" (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)" value="0" *ngIf="chair.appointmentDetails.appointment_Status==4;else chairOut" />
                                                                    <ng-template #chairOut>
                                                                        <input type="checkbox" name="name" value="4"
                                                                               (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)"
                                                                               *ngIf="chair.appointmentDetails.appointment_Status!=2" />
                                                                    </ng-template>

                                                                    <a href="javascript://" (click)="appointmentView(chair.appointmentDetails.id,schedule.slatTime,chair.id,chair.appointmentDetails.appointment_Status);" class="text-white">
                                                                        <p>{{chair.appointmentDetails.patient_Name}}</p>
                                                                        <p>{{chair.appointmentDetails.patient_Address}}</p>
                                                                        <p><strong>Doctor:</strong> {{chair.appointmentDetails.doctor_Name}}</p>
                                                                    </a>
                                                                </p>
                                                            </td>
                                                            <td width="20%" *ngIf="chair.appointmentDetails.number_Of_Slot==3" rowspan="3">
                                                                <p class="appointment-background pd-5px" *ngIf="chair.appointmentDetails.appointment_Status!=3">
                                                                    <input type="checkbox" name="name" checked="checked" (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)" value="0" *ngIf="chair.appointmentDetails.appointment_Status==4;else chairOut" />
                                                                    <ng-template #chairOut>
                                                                        <input type="checkbox" name="name" value="4"
                                                                               (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)"
                                                                               *ngIf="chair.appointmentDetails.appointment_Status!=2" />
                                                                    </ng-template>

                                                                    <a href="javascript://" (click)="appointmentView(chair.appointmentDetails.id,schedule.slatTime,chair.id,chair.appointmentDetails.appointment_Status);" class="text-white">
                                                                        <p>{{chair.appointmentDetails.patient_Name}}</p>
                                                                        <p>{{chair.appointmentDetails.patient_Address}}</p>
                                                                        <p><strong>Doctor:</strong> {{chair.appointmentDetails.doctor_Name}}</p>
                                                                    </a>
                                                                </p>
                                                            </td>
                                                            <td width="20%" *ngIf="chair.appointmentDetails.number_Of_Slot==4" rowspan="4">
                                                                <p class="appointment-background pd-5px" *ngIf="chair.appointmentDetails.appointment_Status!=3">
                                                                    <input type="checkbox" name="name" checked="checked" (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)" value="0" *ngIf="chair.appointmentDetails.appointment_Status==4;else chairOut" />
                                                                    <ng-template #chairOut>
                                                                        <input type="checkbox" name="name" value="4"
                                                                               (change)="changeAppointmentStatus($event,chair.appointmentDetails.id)"
                                                                               *ngIf="chair.appointmentDetails.appointment_Status!=2" />
                                                                    </ng-template>

                                                                    <a href="javascript://" (click)="appointmentView(chair.appointmentDetails.id,schedule.slatTime,chair.id,chair.appointmentDetails.appointment_Status);" class="text-white">
                                                                        <p>{{chair.appointmentDetails.patient_Name}}</p>
                                                                        <p>{{chair.appointmentDetails.patient_Address}}</p>
                                                                        <p><strong>Doctor:</strong> {{chair.appointmentDetails.doctor_Name}}</p>
                                                                    </a>
                                                                </p>
                                                            </td>
                                                        </ng-template>
                                                    </ng-container>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="modal fade my-modal" tabindex="-1" role="dialog" #appointmentModal style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <!--<h4 class="modal-title">Add Appointment</h4>-->
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height:200px;" *ngIf="isAppontmentClose==true">
                    <div class="row">
                        <div class="col-12 text-center mt-3">
                            <h3>
                                {{popupMassage}}

                            </h3>
                        </div>
                    </div>
                </div>
                <div class="modal-body" *ngIf="isAppontmentClose==false">
                    <app-appointment-form *ngIf="isEdit==true" [FormAction]="'edit'" [FormInput]="FormInput" (callBackEvent)="redirect($event);"></app-appointment-form>
                    <app-appointment-form *ngIf="isAdd==true" [expectedProp]="addParam" [FormAction]="'add'" (callBackEvent)="redirect($event);"></app-appointment-form>
                </div>
            </div>
        </div>
    </div>
</div>