.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 600px;
    overflow: scroll;
}

.modal-dialog {
    max-width: 800px !important
}

.pd-25 {
    padding: 25px !important;
}
btn-light.disabled, .btn-light:disabled {
    color: #2a2e30;
    background-color: #c5b6b6;
    border-color: #f6f6f6;
}
