<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
            <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
            <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
        </a>
        <!-- /Brand logo-->
        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                <img class="img-fluid"
                     [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/forgot-password-v2-dark.svg'
              : 'assets/images/pages/forgot-password-v2.svg'
          "
                     alt="Forgot password" />
            </div>
        </div>
        <!-- /Left Text-->
        <!-- Forgot password-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title font-weight-bold mb-1">Forgot Password? 🔒</h2>
                <p class="card-text mb-2">Enter your email and we'll send you instructions to reset your password</p>

                <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                        <p>{{error }}</p>
                    </div>
                </ngb-alert>
                <ngb-alert [type]="'success'" [dismissible]="false" *ngIf="success">
                    <div class="alert-body">
                        <p>{{success }}</p>
                    </div>
                </ngb-alert>
                <div class="form-group">
                    <input type="radio" (change)="onTypeChange($event.target.value)" checked="checked" name="type" value="user" class="mr-5px" /> Admin     <input name="type" (change)="onTypeChange($event.target.value)" type="radio" value="doctor" class="mr-5px ml-5px" /> Doctor    <input name="type" (change)="onTypeChange($event.target.value)" type="radio" value="staff" class="mr-5px ml-5px" /> Staff
                </div>
                <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" *ngIf="isOtp==false && isReset==false" (ngSubmit)="sendOtp()">
                    <div class="form-group">
                        <label class="form-label" for="forgot-password-email">Email</label>
                        <input class="form-control"
                               type="text"
                               formControlName="email"
                               placeholder="john@example.com"
                               aria-describedby="forgot-password-email"
                               autofocus=""
                               tabindex="1"
                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary btn-block" *ngIf="isOtp==false" tabindex="3" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Send Otp
                    </button>
                </form>
                <div class="form-group" *ngIf="isOtp==true && isReset==false">
                    <label class="form-label" for="forgot-password-email">Email</label>
                    <input class="form-control"
                           type="text"
                           [(ngModel)]="email"
                           disabled="disabled" />
                </div>
                <form class="auth-forgot-password-form mt-2" [formGroup]="forgotOtpForm" *ngIf="isOtp==true && isReset==false" (ngSubmit)="onSubmitOtp()">

                    <div class="form-group" *ngIf="isOtp==true">
                        <label class="form-label" for="forgot-password-otp">Otp</label>
                        <input class="form-control"
                               type="text"
                               formControlName="otp"
                               placeholder="6 digit otp"
                               aria-describedby="forgot-password-otp"
                               autofocus=""
                               tabindex="1" [ngClass]="{ 'is-invalid': submitted1 && fotp.otp.errors }" />
                        <div *ngIf="submitted1 && fotp.otp.errors" class="invalid-feedback">
                            <div *ngIf="fotp.otp.errors.required">Otp is required</div>

                        </div>
                    </div>
                    <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="3" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit Otp
                    </button>
                </form>

                <form class="auth-forgot-password-form mt-2" [formGroup]="resetPasswordForm" *ngIf="isOtp==false && isReset==true" (ngSubmit)="resetPassword()">
                    <div class="form-group">
                        <label class="form-label" for="forgot-password-email">New Password</label>
                        <input class="form-control"
                               type="password"
                               placeholder="New Password"
                               formControlName="password"
                               aria-describedby="forgot-password-password"
                               autofocus=""
                               tabindex="1"
                               [ngClass]="{ 'is-invalid': submitted2 && fpassword.password.errors }" />
                        <div *ngIf="submitted2 && fpassword.password.errors" class="invalid-feedback">
                            <div *ngIf="fpassword.password.errors.required">New Password is required</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="forgot-password-otp">Confirm Password</label>
                            <input class="form-control"
                                   type="text"
                                   formControlName="confirmpassword"
                                   placeholder="Confirm Password"
                                   aria-describedby="forgot-password-confirmpassword"
                                   autofocus=""
                                   tabindex="2" [ngClass]="{ 'is-invalid': submitted2 && fpassword.confirmpassword.errors }" />
                            <div *ngIf="submitted2 && fpassword.confirmpassword.errors" class="invalid-feedback">
                                <div *ngIf="fpassword.confirmpassword.errors.required">Confirm Password is required</div>
                            </div>
                        </div>
                        <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="3" rippleEffect>
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit
                        </button>
                    </div>
                </form>
                <p class="text-center mt-2">
                    <a routerLink="/auth/login"><i data-feather="chevron-left" class="mb-25"></i> Back to login</a>
                </p>
            </div>
        </div>
        <!-- /Forgot password-->
    </div>
</div>
