<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add">
                <!-- Invoice Add Left starts -->
                <div class="col-xl-12 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="row">
                                <div class="col-xl-9 col-md-8 col-12">
                                    <div>
                                        <h3 class="text-primary invoice-logo">Doctor Details</h3>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-8 col-12">
                                    <a class="btn btn-primary btn-sm ml-2 flot-right" href="/admin/doctor/list"><i class="fa fa-list"></i> All Doctors </a>
                                </div>
                            </div>
                            <div class="box-body pt-1 pb-1">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="user-avatar-section">
                                                <div class="d-flex justify-content-start">
                                                    <div class="ng-star-inserted">
                                                        <img *ngIf="doctor.thumb!=null" height="104" width="104" alt="User avatar" class="img-fluid rounded" src="{{doctor.thumb}}">
                                                        <img *ngIf="doctor.thumb==null" height="104" width="104" alt="User avatar" class="img-fluid rounded" src="assets/front/img/avatar.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">

                                            <label for="basic-medicinetype" class="font-weight-bold font-medium-1">Name </label><span class=" d-block">{{doctor.name}}</span>

                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="mc" class="font-weight-bold font-medium-1">Gender </label><span class="d-block">{{doctor.gender}}</span>

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label class="font-weight-bold font-medium-1">DOB</label>
                                                <br />
                                                <span class="d-block">{{doctor.dob}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Marital Status</label>
                                                <br />
                                                <span class="d-block">{{doctor.marital_Status}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Qualification</label>
                                                <br />
                                                <span class="d-block">{{doctor.qualification}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Email  </label>
                                                <br />
                                                <span class="d-block">{{doctor.email}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Phone </label>
                                                <br />
                                                <span class="d-block">{{doctor.phone1}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Speciality </label>
                                                <br />
                                                <span class="d-block">{{doctor.speciality}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Age </label>
                                                <br />
                                                <span class="d-block">{{doctor.age}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Blood Group </label>
                                                <br />
                                                <span class="d-block">{{doctor.blood_Group}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Pan Number </label>
                                            <br />
                                            <span class="d-block">{{doctor.pan_Number}}</span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Gst Number </label>
                                            <br />
                                            <span class="d-block">{{doctor.gst_Number}}</span>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Address List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Address R</th>
                                                                <th class="text-truncate">City R</th>
                                                                <th class="text-truncate">Zip R</th>
                                                                <th class="text-truncate">Country R</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let address of doctor.doctorsAddressList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{address.address_R}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{address.city_R}}</td>
                                                                <td class="text-truncate">{{address.zip_R}}</td>
                                                                <td class="text-truncate"> {{address.country_R}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Address O</th>
                                                                <th class="text-truncate">City O</th>
                                                                <th class="text-truncate">Zip O</th>
                                                                <th class="text-truncate">Country O</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let address of doctor.doctorsAddressList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{address.address_O}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{address.city_O}}</td>
                                                                <td class="text-truncate">{{address.zip_O}}</td>
                                                                <td class="text-truncate"> {{address.country_O}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Address Other</th>
                                                                <th class="text-truncate">City Other</th>
                                                                <th class="text-truncate">Zip Other</th>
                                                                <th class="text-truncate">Country Other</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let address of doctor.doctorsAddressList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{address.address_Other}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{address.city_Other}}</td>
                                                                <td class="text-truncate">{{address.zip_Other}}</td>
                                                                <td class="text-truncate"> {{address.country_Other}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Bank List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Name</th>
                                                                <th class="text-truncate">Bank Account Number</th>
                                                                <th class="text-truncate"> Ifsc Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let bank of doctor.doctorBankDetailList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{bank.bank_Name}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{bank.bank_Account_Number}}</td>
                                                                <td class="text-truncate"> {{bank.ifsc_Code}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Insurance List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Insurance Name</th>
                                                                <th class="text-truncate">Insurance Date</th>
                                                                <th class="text-truncate">Renewal Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let bank of doctor.doctorInsuranceDetailList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium">{{bank.insurance}}</span>
                                                                </td>
                                                                <td class="text-truncate"> {{bank.insurance_Date | date: 'dd/MM/yyyy'}}</td>
                                                                <td class="text-truncate"> {{bank.renewal_Date | date: 'dd/MM/yyyy'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Vaccination List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Type</th>
                                                                <th class="text-truncate">Date</th>
                                                                <th class="text-truncate">Reminder Date For Next</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let vac of doctor.doctorsVaccinationList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{vac.vaccination_Type}}</span>
                                                                </td>
                                                                <td class="text-truncate"> {{vac.vaccination_Date | date: 'dd/MM/yyyy'}}</td>
                                                                <td class="text-truncate"> {{vac.reminder_Date_For_Next | date: 'dd/MM/yyyy'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--/  Add New Customer Sidebar -->
</div>


