<div class="col-md-12" id="disp_div">
    <div class="col-md-12">
        <h4 class="form_title">Treatment Plan</h4>
        <div class="clear"></div>
        <hr class="border_hr">
    </div>
    <!-- <pre>{{ formData.value | json }}</pre> -->

    <div class="row">
        <div class="col-md-5" id="loadteeeth">
            <shared-ui-select-input [label]="'Tooth Notation'" [control]="formData.teeth_id" [options]="ITeethCategory"
                [valueKey]="'id'" [displaykey]="'teeth_Category_Name'" [submitted]="submitted"></shared-ui-select-input>
        </div>
        <div class="col-md-6" style="padding:30px 0px;">
            <!-- {{ formData.milk_teeth.value }} -->
            <shared-ui-check-box [label]="'Milk Teeth'" [control]="formData.milk_teeth"
                [submitted]="submitted"></shared-ui-check-box>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="container">
                <!-- <pre>{{ Teeth | json }}</pre> -->
                <ul [id]="categoryID">
                    <ng-container *ngFor="let t of Teeth; let idx = index;">
                        <ng-container *ngIf="!formData.get('milk_teeth').value">
                            <li class="teethord{{ idx+1 }}">
                                <a (click)="getRecord_teechinfo(t.id, t.teeth_Note, t.image)" href="javascript://"
                                    title="" data-original-title="{{ t.teeth_Note }}"></a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="formData.get('milk_teeth').value">
                            <li class="teeth_child{{ idx+1 }}">
                                <a (click)="getRecord_teechinfo(t.id, t.teeth_Note, t.image)" href="javascript://"
                                    title="" data-original-title="{{ t.teeth_Note }}"></a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
                <div id="show_toothnumber" style="display: none"></div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <div id="shw_tooth_number">
                <p class="texp">Tooth Number: <span class="tre-code">
                        <a (click)="toothNumber = []" style="color:#398bf7;" href="javascript:void();"
                            id="clear_teeth">Clear</a></span></p>
                <span id="tooth_no_note_view">
                    <ng-container *ngFor="let d of toothNumber; let idx = index;">
                        <span class="mr-2">"{{ d }}
                            <span (click)="removeToothNumber(idx)"
                                style="font-size: 25px;cursor:pointer;font-weight: bold;position: relative;top: 2px;padding-left: 5px;color: rgba(0,0,0,0.475);">×</span>
                        </span>
                    </ng-container>
                </span>
            </div>

            <div class="row_">
                <div class="col-sm-7_">
                    <shared-ui-textarea [label]="'Notes &amp; Diagnosis'" [control]="formData.treatment_Notes"
                        [submitted]="submitted"></shared-ui-textarea>
                </div>
            </div>

            <div class="col-md-12">
                <h4 class="form_title">Job For Patient</h4>
                <div class="clear"></div>
                <hr class="border_hr">
            </div>

            <div class="row">
                <div class="col-md-4">
                    <app-hot-code-menu [DiagnosisData]="DiagnosisData"
                        (callBackEvent)="setJobName($event);"></app-hot-code-menu>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label><strong>Patient Name:</strong> {{ apiData.name }} </label>
                    </div>
                    <shared-ui-select-input [label]="'Treatment Type'" [control]="formData.type"
                        [options]="ITreatmentType" [valueKey]="'value'" [displaykey]="'text'"
                        [submitted]="submitted"></shared-ui-select-input>

                    <shared-ui-text-input [label]="'Job Name'" [control]="formData.job"
                        [submitted]="submitted"></shared-ui-text-input>

                    <shared-ui-select-input [label]="'Primary Doctor Name'" [control]="formData.doctor"
                        [options]="IDoctors" [valueKey]="'id'" [displaykey]="'name'"
                        [submitted]="submitted"></shared-ui-select-input>

                    <div class="form-group">
                        <div class="form-group plr-10">
                            <label>Treatment</label>
                            <div class="radio radio-info radio-inline mt-10">
                                <input name="treatment" type="radio" value="Observation">
                                <label class="cs-lable">Observation</label> 
                                <input name="treatment" type="radio" value="Completed">
                                <label class="cs-lable">Completed</label>
                                <input name="treatment" type="radio" value="Incompleted">
                                <label class="cs-lable">Incompleted</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <shared-ui-text-input [label]="'Estimated Amount'" [control]="formData.estimated_Amount"
                                [mask]="'numeric'" [submitted]="submitted"></shared-ui-text-input>
                        </div>

                        <div class="col-md-6">
                            <shared-ui-text-input [label]="'Courtesy (if any)'" [control]="formData.courtesy"
                                [mask]="'numeric'" [submitted]="submitted"></shared-ui-text-input>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Estimated Total Amount</label>
                                <input type="text" readonly="" class="form-control"
                                    value="{{ formData.estimated_Amount.value }}" />
                            </div>
                            <!-- <shared-ui-text-input [label]="'Estimated Total Amount'"
                                    [control]="formData.estimated_total" [mask]="'numeric'" [isDisabled]="true"
                                    [submitted]="submitted"></shared-ui-text-input> -->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-sm-12"></div>
                <div class="col-sm-12">
                    <div class="box-footer">
                        <div class="float-right" id="save_divs">
                            <button (click)="saveForm()" type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <div class="float-right" id="view_divs" style="display: none;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeview();">Fill
                            Later</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>