<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <h4 class="card-title">Patient Details</h4>
        <div class="content-body card user-card" style="padding:10px;">
            <section id="basic-tabs-components">
                <div class="row match-height">
                    <div class="col-xl-12 col-lg-12">
                       
                            <ul ngbNav #navFilled="ngbNav" class="nav-tabs nav-fill">
                                <li ngbNavItem clcik="onTabChange('Info')">
                                    <a ngbNavLink >Patient Info</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-patientinfo></app-patientinfo>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink clcik="onTabChange('Appointments')">Appointments</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-patient-appointments></app-patient-appointments>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a href="javascript:void(0)" ngbNavLink>Treatment Plan</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-treatment-paln></app-treatment-paln>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Work Done History</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-workdonehistory></app-workdonehistory>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Payments</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-payments></app-payments>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Lab</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-lab></app-lab>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Digital Data</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-digitaldata></app-digitaldata>
                                        </p>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Priscriptions</a>
                                    <ng-template ngbNavContent>
                                        <p>
                                            <app-patient-appointments></app-patient-appointments>
                                        </p>
                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="navFilled" class="mt-2"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

