<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">

                    <div class="row" >
                        <div class="col-md-10 col-12">
                            <h4 class="card-title">Medicine Details</h4>
                        </div>
                    </div>
                    <div class="card-body background-white">
                        <div class="row">
                            <div class="col-md-12 col-12 float-right mb-10px">
                                <a class="btn btn-primary ml-2 waves-effect waves-float waves-light float-right" href="/admin/drug/list">Back</a>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 paddlr">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-4">
                                        <img id="medicine_image" [src]="drug.medicine_Image ? drug.medicine_Image : 'assets/images/noimage.jpg'"  style="width:120px;height: 120px;border-radius: 5px;">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 table-responsive">
                                        <table class="table mb0 table-striped table-bordered examples">
                                            <tbody>
                                                <tr>


                                                    <th width="15%">Type</th>
                                                    <td width="35%">{{drug.medicine_Type}}</td>
                                                    <th width="15%">Category</th>
                                                    <td width="35%">
                                                        <span id="medicine_category_ids">{{category}}</span>
                                                    </td>
                                                </tr>

                                                <tr>


                                                    <th width="15%">Brand Name</th>
                                                    <td width="35%">{{brandName}}</td>
                                                    <th width="15%">Basic Salt</th>
                                                    <td width="35%">
                                                        <span id="medicine_basic_salts">{{drug.basic_Salt}}</span>
                                                    </td>
                                                </tr>

                                                <tr>


                                                    <th width="15%">Company</th>
                                                    <td width="35%">{{drug.medicine_Company}}</td>
                                                    <th width="15%">Form</th>
                                                    <td width="35%">
                                                        {{drug.form}}
                                                    </td>

                                                </tr>
                                                <tr>


                                                    <th width="15%">Dosage</th>
                                                    <td width="35%">{{drug.dosage}}</td>
                                                    <th width="15%">Details</th>
                                                    <td width="35%">
                                                        {{drug.details}}
                                                    </td>

                                                </tr>
                                                <tr>


                                                    <th width="15%">DoseNo</th>
                                                    <td width="35%">{{drug.dose_No}}</td>
                                                    <th width="15%"> </th>
                                                    <td width="35%">
                                                        <span id="reorder_levels"> </span>
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <th width="15%">Description</th>
                                                    <td colspan="3">{{drug.description}}</td>

                                                </tr>
                                                <tr>

                                                    <th width="15%">Safety Alerts</th>
                                                    <td colspan="3">{{drug.safety_Alerts}}</td>

                                                </tr>
                                                <tr>

                                                    <th width="15%">Bactrology</th>
                                                    <td colspan="3">{{drug.bactrology}}</td>

                                                </tr>
                                                <tr>

                                                    <th width="15%">Note</th>
                                                    <td colspan="3">{{drug.note}}</td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row match-height mt-30 mb-2">
                            <div class="col-xl-12 col-lg-12">
                                <ul ngbNav #navFilled="ngbNav" class="nav-tabs nav-fill">
                                    <li ngbNavItem>
                                        <a ngbNavLink>Stock</a>
                                        <ng-template ngbNavContent>
                                            <p>
                                               <app-stock-list></app-stock-list>
                                            </p>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem>
                                        <a ngbNavLink>Bad Stock</a>
                                        <ng-template ngbNavContent>
                                            <p>
                                                <app-bad-stock-list></app-bad-stock-list>
                                            </p>
                                        </ng-template>
                                    </li>
                                </ul>
                                <div [ngbNavOutlet]="navFilled" class="mt-2"></div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</div>