<div class="content-wrapper container-xxl p-0">
    <div class="content-body p-2">
        <section class="drug-list-wrapper">
            <div class="card">
                <div class="col-md-6 col-4" *ngIf="isAdd">
                    <button (click)="openComplaintForm(0);" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>   Add Complaints
                    </button>
                </div>
                <ng-container *ngIf="showTreatmentForm">
                    <app-treatment-plan-form [FormAction]="'add'" [TreatmentId]="treatmentId" [DiagnosisData]="DiagnosisData" [apiData]="apiData"
                                             (callBackEvent)="returnPage();"></app-treatment-plan-form>
                </ng-container>
                <ng-container *ngIf="!showTreatmentForm">
                    <div class="row">
                        <div class="col-md-6 col-8">
                            <div class="d-flex justify-content-between align-items-center m-1">
                                <div class="d-flex align-items-center">
                                    <label class="d-flex align-items-center">
                                        Show
                                        <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-start justify-content-md-end align-items-center offset-lg-2">
                            <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
                                <div class="col-10 col-md-12 mt-2 ml-1 ml-md-0 mt-md-0">
                                    <label class="d-flex align-items-center mb-0 ml-1 ml-md-0">
                                        <input [(ngModel)]="searchValue" name="searchValue" type="search"
                                               class="form-control" placeholder="Search..." (keyup)="filterUpdate($event)"
                                               (search)="filterUpdate($event)" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading==true" class="table-loading">
                        <div class="table-loading-text">
                            Loading...
                        </div>
                    </div>
                    <!-- Invoice List Table -->
                    <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                                   [limit]="selectedOption"
                                   [columnMode]="ColumnMode.force"
                                   [headerHeight]="50"
                                   [footerHeight]="50"
                                   [scrollbarH]="true">
                        <ngx-datatable-row-detail [rowHeight]="auto"
                                                  #myDetailRow
                                                  (toggle)="onDetailToggle($event)">
                            <ng-template let-row="row"
                                         let-expanded="expanded"
                                         ngx-datatable-row-detail-template>
                                <div style="padding-left:35px; width:50%" class="table-responsive" >
                                    <table class="table table-bordered table-sm">
                                        <thead class="table-dark" >
                                            <tr>
                                                <td>Doctor</td>
                                                <td>Due</td>
                                                <td>Discount</td>
                                                <td>Total</td>
                                                <td>Status</td>
                                                <td>Date</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let workdone of row.workdones">
                                                <td>{{workdone.doctorName}}</td>
                                                <td>{{workdone.amtDueCurrentWork}}</td>
                                                <td>{{workdone.discount}}</td>
                                                <td>{{workdone.totalAmt}}</td>
                                                <td>{{workdone.workdoneStatus}}</td>
                                                <td>{{workdone.date}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </ng-template>
                        </ngx-datatable-row-detail>
                        <ngx-datatable-column [width]="150"
                                              [resizeable]="false"
                                              [sortable]="false"
                                              [draggable]="false"
                                              [canAutoResize]="false"
                                              [frozenLeft]="false">
                            <ng-template let-row="row"
                                         let-rowIndex="rowIndex"
                                         let-expanded="expanded"
                                         ngx-datatable-cell-template>
                                <a href="javascript:void(0)"
                                   [class.datatable-icon-right]="!expanded"
                                   [class.datatable-icon-down]="expanded"
                                   title="Expand/Collapse Row"
                                   (click)="toggleExpandRow(row)">
                                    Work Done List
                                </a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date" prop="date" [width]="150">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div class="row">
                                    <div class="col-12">{{row.date | date: 'dd/MM/yyyy'}}</div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Sitting" [Width]="50" prop="sitting">
                            <ng-template class="text-center" contenteditable="true" ngx-datatable-cell-template e let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <span *ngIf="!editable" (dblclick)="editable = true;" style="width:50px!important;border:0;cursor:pointer"> {{row.sitting}} </span>
                                <input type="number" (change)="setSittingValue(row.id,$event)" style="width:50px!important;border:0" autofocus (keyup)="editable==false" value="{{row.sitting}}" *ngIf="editable" />
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Tooth Number" prop="teethNumber"></ngx-datatable-column>
                        <ngx-datatable-column name="Notes & Diagnosis" prop="tothNot">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div *ngIf="!row.expanded">
                                  {{ value | slice:0:20 }}
                                  <span *ngIf="value.length > 20">
                                    <a href="javascript://" (click)="toggleExpand(row)">... Show more</a>
                                  </span>
                                </div>
                                <div *ngIf="row.expanded">
                                  {{ value }}
                                </div>
                              </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Doctor" prop="doctorName"></ngx-datatable-column>
                        <ngx-datatable-column name="Type" prop="type"></ngx-datatable-column>
                        <ngx-datatable-column name="Treatment Code" prop="job"></ngx-datatable-column>
                        <ngx-datatable-column name="App Estimate" prop="amount"></ngx-datatable-column>
                        <ngx-datatable-column name="Status" prop="treatmentStatus"></ngx-datatable-column>
                        <ngx-datatable-column name="Actions" [width]="200" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <div class="d-flex align-items-center col-actions">
                                    <a class="mr-1 btn btn-primary btn-sm" style="width:120px;" (click)="addWorkDone(row.id,row.amount,row.teethNumber,row.job,row.doctorName)" href="javascript:void(0)" container="body"
                                       placement="top" ngbTooltip="Work Done">
                                        Work Done
                                    </a>
                                    <br />
                                    <a class="mr-1" (click)="openComplaintForm(row.id)" container="body"
                                       placement="top" ngbTooltip="Edit">
                                        <i size="18" data-feather="edit"></i>
                                    </a>
                                    <a class="mr-1" href="javascript:void(0)" (click)="delete(row.id,row.patientId)" container="body"
                                       placement="top" ngbTooltip="Delete">
                                        <i size="18" data-feather="trash"></i>
                                    </a>

                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </ng-container>
            </div>
        </section>
    </div>

    <div class="modal fade my-modal" tabindex="-1" role="dialog" #workdoneModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Workdone</h5>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row">
                        <div class="col-md-12 mb-1"><strong>TOOTH NUMBER:</strong> {{toothNumber}}</div>
                        <div class="col-md-12"><strong>JOB:</strong> {{job}}</div>
                    </div>
                    <form id="form-modal-workdone" [formGroup]="workdoneForm"
                          class="todo-modal needs-validation"
                          (ngSubmit)="saveWorkDoneForm()">
                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="clear"></div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><strong>By Doctor</strong></label>
                                        <!-- <input type="text" name="supplier" class="form-control" required> -->
                                        <select class="form-control select2"
                                                [(ngModel)]="workdone.doctor_Id"
                                                formControlName="doctor_Id"
                                                aria-describedby="doctor_Id"
                                                [ngClass]="{ 'is-invalid': submitted && f.doctor_Id.errors }">
                                            <option value="">Select Doctor</option>
                                            <option *ngFor="let item of doctors" value="{{item.id}}" selected = "{{item.name == this.workdone.doctor_Id}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Estimated Amount</label>
                                        <input type="text" disabled="disabled"
                                               class="form-control"
                                               tabindex="2"
                                               [maxlength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.estimated_Amount"
                                               formControlName="estimated_Amount"
                                               aria-describedby="estimated_Amount" />
                                        <!--<input name="estimate_amt" id="estimate_amt" readonly="" placeholder="" type="number" class="form-control" required="" value="5000" >-->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Amount Due for Todays's Work.</label>
                                        <input type="text" (change)="chngCurrentwork($event)" class="form-control"
                                               tabindex="3"
                                               [maxlength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.current_Work_Amt"
                                               formControlName="current_Work_Amt"
                                               aria-describedby="current_Work_Amt"
                                               [ngClass]="{ 'is-invalid': submitted && f.current_Work_Amt.errors }" />
                                        <!--<input name="current_work" id="current_work" (change)="chngCurrentwork($event)" placeholder="" type="number" class="form-control" required="" value="">-->
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Discount.</label>
                                        <input type="text" (change)="chngDiscount($event)" class="form-control"
                                               tabindex="4"
                                               [maxLength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.discount"
                                               formControlName="discount"
                                               aria-describedby="discount" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <input type="text" disabled="disabled"
                                               class="form-control"
                                               tabindex="5" value="0"
                                               [maxLength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.total_Amt"
                                               formControlName="total_Amt"
                                               aria-describedby="total_Amt" />

                                    </div>
                                </div>
                                <div class="payment_bxblock pyatm col-md-6">
                                    <label> Treatment</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" checked name="workdone_status" (change)="chamgeStatus(0)" id="observation_new" value="0">
                                                <label class="form-check-label" for="observation_new">
                                                    Observation
                                                </label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="workdone_status" id="completed_new" value="1" (change)="chamgeStatus(1)">
                                                <label class="form-check-label" for="completed_new">
                                                    Completed
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="workdone_status" id="incompleted_new" value="2" (change)="chamgeStatus(2)">
                                                <label class="form-check-label" for="incompleted_new">
                                                    Incompleted
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="payment_bxblock pyatm col-md-12">
                                    <label>Work Done Notes</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-control"
                                                      tabindex="7"
                                                      rows="5"
                                                      cols="20"
                                                      [maxlength]=100
                                                      [mask]="'alphaAllowSpaces'"
                                                      [(ngModel)]="workdone.workdone_Notes"
                                                      formControlName="workdone_Notes"
                                                      aria-describedby="workdone_Notes">
                                                   </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-3" *ngIf="isWorkdonesave==true">
                                        <a href="/admin/appointment/add/{{patientId}}/{{workdoneid}}"  target="_blank" class="btn btn-primary">Appointment</a>
                                    </div>
                                    <div class="col-md-3" *ngIf="isWorkdonesave==true">
                                        <a href="/admin/prescription/add/{{patientId}}/{{workdoneid}}"  target="_blank" class="btn btn-primary ml-1">Prescription</a>
                                    </div>
                                    <div class="col-md-2" *ngIf="isWorkdonesave==true">
                                        <input type="submit" name="save" value="Save"  class="btn btn-primary ml-1">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger ml-1" (click)="close()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>