<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add">
                <!-- Invoice Add Left starts -->
                <div class="col-xl-12 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="box-body pt-1 pb-1">
                                <div *ngIf="loading==true" class="table-loading">
                                    <div class="table-loading-text">
                                        Loading...
                                    </div>
                                </div>
                                <div class="card-body" *ngIf="apiData!=null">

                                    <div class="row">

<h5 class="card-header">Personal Information</h5>
<div class="table-responsive">
<table class="table border-top">
    <thead>
        <tr>

            <th class="text-truncate">Name</th>
            <th class="text-truncate">Gender</th>
            <th class="text-truncate">DOB</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-truncate">
                <span class="fw-medium">{{apiData.title}}.{{apiData.name}}</span>
            </td>
            <td class="text-truncate">{{apiData.gender}}</td>
            <td class="text-truncate">{{apiData.dob}}</td>
        </tr>
    </tbody>
</table>
</div>

<div class="table-responsive">
    <table class="table border-top">
        <thead>
            <tr>
    
                <th class="text-truncate">Guardian Person</th>
                <th class="text-truncate">Sex</th>
                <th class="text-truncate">Age</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-truncate">
                    <span class="fw-medium">{{apiData.guardian}}</span>
                </td>
                <td class="text-truncate">{{apiData.sex}}</td>
                <td class="text-truncate">{{apiData.age}}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="table-responsive">
        <table class="table border-top">
            <thead>
                <tr>
        
                    <th class="text-truncate">Weight</th>
                    <th class="text-truncate">Present Address</th>
                    <th class="text-truncate">Permanent Address</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-truncate">
                        <span class="fw-medium">{{apiData.weight}}</span>
                    </td>
                    <td class="text-truncate">{{apiData.present_Address}}</td>
                    <td class="text-truncate">{{apiData.permanent_Address}}</td>
                </tr>
            </tbody>
        </table>
        </div>
                                       
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Contact List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Phone 1</th>
                                                                <th class="text-truncate">Phone 2</th>
                                                                <th class="text-truncate">Phone 3</th>
                                                                <th class="text-truncate">Phone 4</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{apiData.patientContacts[0].phone1}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].phone2}}</td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].phone3}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].phone4}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Email 1</th>
                                                                <th class="text-truncate">Email 2</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <span class="fw-medium"> {{apiData.patientContacts[0].email}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].email2}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="table-responsive">
                                                        <h5 class="card-header">Address Information</h5>
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Address R</th>
                                                                <th class="text-truncate">City R</th>
                                                                <th class="text-truncate">Zip R</th>
                                                                <th class="text-truncate">Country R</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{apiData.patientContacts[0].address_R}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].city_R}}</td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].zip_R}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].country_R}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--<div class="table-responsive">
                        <table class="table border-top">
                            <thead>
                                <tr>

                                    <th class="text-truncate">Address R</th>
                                    <th class="text-truncate">City R</th>
                                    <th class="text-truncate">Zip R</th>
                                    <th class="text-truncate">Country R</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let address of apiData.apiDatasAddressList">
                                    <td class="text-truncate">
                                        <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                        <span class="fw-medium"> {{address.address_R}}</span>
                                    </td>
                                    <td class="text-truncate">{{address.city_R}}</td>
                                    <td class="text-truncate">{{address.zip_R}}</td>
                                    <td class="text-truncate"> {{address.country_R}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>-->
                                                
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Address O</th>
                                                                <th class="text-truncate">City O</th>
                                                                <th class="text-truncate">Zip O</th>
                                                                <th class="text-truncate">Country O</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{apiData.patientContacts[0].address_O}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].city_O}}</td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].zip_O}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].country_O}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>

                                                                <th class="text-truncate">Address Other</th>
                                                                <th class="text-truncate">City Other</th>
                                                                <th class="text-truncate">Zip Other</th>
                                                                <th class="text-truncate">Country Other</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{apiData.patientContacts[0].address_Other}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].city_Other}}</td>
                                                                <td class="text-truncate">{{apiData.patientContacts[0].zip_Other}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].country_Other}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Relative List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Physician</th>
                                                                <th class="text-truncate">Referred By</th>
                                                                <th class="text-truncate">Doctor Name</th>
                                                                <th class="text-truncate">Phone</th>
                                                                <th class="text-truncate">Relationship Type</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">
                                                                    <span class="fw-medium">{{apiData.patientContacts[0].physician}}</span>
                                                                </td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].reffered_By}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].doctor_Name}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].phone}}</td>
                                                                <td class="text-truncate"> {{apiData.patientContacts[0].relationship_Type}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Insurance List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Name</th>
                                                                <th class="text-truncate">Amount</th>
                                                                <th class="text-truncate">Spent</th>
                                                                <th class="text-truncate">Amount</th>
                                                                <th class="text-truncate">Type</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let insurance of apiData.patientInsuranceLoans">
                                                                <td class="text-truncate">
                                                                    <span class="fw-medium">{{insurance.name}}</span>
                                                                </td>
                                                                <td class="text-truncate"> {{insurance.amount}}</td>
                                                                <td class="text-truncate"> {{insurance.balance_Spent}}</td>
                                                                <td class="text-truncate"> {{insurance.balance_Amount}}</td>
                                                                <td class="text-truncate"> {{insurance.type}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--/  Add New Customer Sidebar -->
</div>


