.text_align_center {
    text-align: center !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-20 {
    padding-left: 5px !important;
}

.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 0;
}
