
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <section class="drug-list-wrapper">
            <div class="card p-2">
                <div class="row">

                    <div class="col-xl-5 col-md-8 col-12">
                        <h3 class="text-primary invoice-logo">Wating Room</h3>
                    </div>
                    <div class="col-xl-7 col-md-8 col-12 ">
                        <a class="btn btn-primary " href="/admin/appointment/chairview" title="">Chair View</a>
                        <a class="btn btn-primary m-lg-1" href="/admin/appointment/calendarview" title="">Calendar View</a>
                        <a class="btn btn-light disabled m-lg-1" href="/admin/appointment/waitingroom" title="">Waiting Room</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">
                                    Show
                                    <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="
              col-md-6 col-lg-4 col-12
              d-flex
              justify-content-start justify-content-md-end
              align-items-center
              offset-lg-2
            ">
                        <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">

                            <div class="col-10 col-md-12 mt-2 ml-1 ml-md-0 mt-md-0">
                                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0">
                                    <input [(ngModel)]="searchValue"
                                           name="searchValue"
                                           type="search"
                                           class="form-control"
                                           placeholder="Search..."
                                           (keyup)="filterUpdate($event)"
                                           (search)="filterUpdate($event)" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div *ngIf="loading==true" class="table-loading">
                        <div class="table-loading-text">
                            Loading...
                        </div>
                    </div>
                    <ngx-datatable [rows]="rows"
                                   rowHeight="auto"
                                   class="bootstrap core-bootstrap"
                                   [limit]="selectedOption"
                                   [columnMode]="ColumnMode.force"
                                   [headerHeight]="50"
                                   [footerHeight]="50"
                                   [scrollbarH]="true">
                        <ngx-datatable-column name="Serial Id" prop="serial_Id" [width]="100">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Patient Name" prop="patient_Name">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Dentist" prop="doctor_Name">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Start Time" prop="start_Time">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="End Time" prop="end_Time">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Cause/Treatment" class="" prop="cause">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Chair" class="" prop="chair">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Slot" class="" prop="slot_Time">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions" [width]="200" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <div class="d-flex align-items-center col-actions">
                                    <select class="form-control" style="width:150px" *ngIf="row.appointment_Status==5; else waiting" name="appointment_status" id="appointment_status" (change)="changeAppointmentStatus($event,row.id)">
                                        <option value="4">Waiting Status</option>
                                        <option selected="" value="5">Processing</option>
                                        <option value="2">Completed</option>
                                    </select>
                                    <ng-template #waiting>
                                        <select class="form-control" style="width:150px" name="appointment_status" id="appointment_status" (change)="changeAppointmentStatus($event,row.id)">
                                            <option selected="" value="4">Waiting Status</option>
                                            <option value="5">Processing</option>
                                            <option value="2">Completed</option>
                                        </select>
                                    </ng-template>
                                </div>

                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </section>
    </div>

</div>



