
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add">
                <!-- Invoice Add Left starts -->
                <div class="col-xl-12 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="row">
                                <div class="col-xl-9 col-md-8 col-12">
                                    <h3 class="text-primary invoice-logo">Set Appointments Schedule</h3>
                                </div>
                            </div>
                            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                                <div class="alert-body">
                                    <p>{{ error }}</p>
                                </div>
                            </ngb-alert>
                            <div class="box-body pt-1 pb-1">
                                <form method="post" class="validate-form" action="https://virmani.robotone.in/admin/appointment/set" role="form" enctype="multipart/form-data">

                                    <div class="row main_item">


                                        <div class="item-rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch mb-1 pt-10">
                                                    <input type="checkbox" value="1" name="day_0" (change)="onChange($event)" class="custom-control-input day_option" id="switch-1">
                                                    <label class="custom-control-label" for="switch-1">Sunday</label>
                                                </div>
                                            </div>


                                            <div class="houritem_0 col-md-12"></div>

                                            <!--<div class="form-group col-sm-12 mt-2 hideable_1" style="display: none;">
                                                <a href="#" data-id="0" class="add_time_row"><i class="fa fa-plus-circle"></i> Add new time</a>
                                            </div>-->

                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>


                                        <div class="item-rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch mb-1 pt-10">
                                                    <input type="checkbox" value="2" name="day_1" (change)="onChange($event)" class="custom-control-input day_option" id="switch-2" checked="">
                                                    <label class="custom-control-label" for="switch-2">Monday</label>
                                                </div>
                                            </div>

                                            <div class="hour-item col-md-12 hideable_2" *ngIf="hideable_2==true">
                                                <div class="row">
                                                    <div class="col-sm-5 pr-0 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>

                                                            <input type="time" class="form-control timepicker" min="09:00" max="18:00" value="{{date2.start}}" placeholder="Start time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>
                                                            <input type="time" class="form-control timepicker" name="end_time_1[]" value="{{date2.end}}" placeholder="End time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 mb-2"><a data-id="77" href="https://virmani.robotone.in/admin/appointment/delete_time/77" class="del_time_row delete_item text-danger"><i size="18" data-feather="trash"></i></a></div>
                                                </div>
                                            </div>

                                            <div class="houritem_1 col-md-12"></div>

                                            <!--                  <div class="form-group col-sm-12 mt-2 hideable_2" style="display: block;">
                                              <a href="#" data-id="1" class="add_time_row"><i class="fa fa-plus-circle"></i> Add new time</a>
                                            </div>-->

                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>



                                        <div class="item-rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch mb-1 pt-10">
                                                    <input type="checkbox" value="3" name="day_2" (change)="onChange($event)" class="custom-control-input day_option" id="switch-3" checked="">
                                                    <label class="custom-control-label" for="switch-3">Tuesday</label>
                                                </div>
                                            </div>

                                            <div class="hour-item col-md-12 hideable_3" *ngIf="hideable_3==true" id="row_78">
                                                <div class="row">
                                                    <div class="col-sm-5 pr-0 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>

                                                            <input type="time" class="form-control timepicker" min="09:00" max="18:00" value="{{date3.start}}" placeholder="Start time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>
                                                            <input type="time" class="form-control timepicker" name="end_time_1[]" value="{{date3.end}}" placeholder="End time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 mb-2"><a data-id="77" href="https://virmani.robotone.in/admin/appointment/delete_time/77" class="del_time_row delete_item text-danger"><i size="18" data-feather="trash"></i></a></div>
                                                </div>
                                            </div>

                                            <div class="houritem_2 col-md-12"></div>

                                            <!--                  <div class="form-group col-sm-12 mt-2 hideable_3" style="display: block;">
                                              <a href="#" data-id="2" class="add_time_row"><i class="fa fa-plus-circle"></i> Add new time</a>
                                            </div>-->

                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>



                                        <div class="item-rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch mb-1 pt-10">
                                                    <input type="checkbox" value="4" name="day_3" (change)="onChange($event)" class="custom-control-input day_option" id="switch-4" checked="">
                                                    <label class="custom-control-label" for="switch-4">Wednesday</label>
                                                </div>
                                            </div>

                                            <div class="hour-item col-md-12 hideable_4" *ngIf="hideable_4==true" id="row_79">
                                                <div class="row">
                                                    <div class="col-sm-5 pr-0 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>

                                                            <input type="time" class="form-control timepicker" min="09:00" max="18:00" value="{{date4.start}}" placeholder="Start time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>
                                                            <input type="time" class="form-control timepicker" name="end_time_1[]" value="{{date4.end}}" placeholder="End time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 mb-2"><a data-id="77" href="https://virmani.robotone.in/admin/appointment/delete_time/77" class="del_time_row delete_item text-danger"><i size="18" data-feather="trash"></i></a></div>
                                                </div>
                                            </div>

                                            <div class="houritem_3 col-md-12"></div>

                                            <!--                  <div class="form-group col-sm-12 mt-2 hideable_4" style="display: block;">
                                              <a href="#" data-id="3" class="add_time_row"><i class="fa fa-plus-circle"></i> Add new time</a>
                                            </div>-->

                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>



                                        <div class="item-rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch mb-1 pt-10">
                                                    <input type="checkbox" value="5" name="day_4" (change)="onChange($event)" class="custom-control-input day_option" id="switch-5" checked="">
                                                    <label class="custom-control-label" for="switch-5">Thursday</label>
                                                </div>
                                            </div>

                                            <div class="hour-item col-md-12 hideable_5" *ngIf="hideable_5==true" id="row_80">
                                                <div class="row">
                                                    <div class="col-sm-5 pr-0 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>

                                                            <input type="time" class="form-control timepicker" min="09:00" max="18:00" value="{{date5.start}}" placeholder="Start time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>
                                                            <input type="time" class="form-control timepicker" name="end_time_1[]" value="{{date5.end}}" placeholder="End time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 mb-2"><a data-id="77" href="https://virmani.robotone.in/admin/appointment/delete_time/77" class="del_time_row delete_item text-danger"><i size="18" data-feather="trash"></i></a></div>
                                                </div>
                                            </div>

                                            <div class="houritem_4 col-md-12"></div>

                                            <!--                  <div class="form-group col-sm-12 mt-2 hideable_5" style="display: block;">
                                              <a href="#" data-id="4" class="add_time_row"><i class="fa fa-plus-circle"></i> Add new time</a>
                                            </div>-->

                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>



                                        <div class="item-rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch mb-1 pt-10">
                                                    <input type="checkbox" value="6" name="day_5" (change)="onChange($event)" class="custom-control-input day_option" id="switch-6" checked="">
                                                    <label class="custom-control-label" for="switch-6">Friday</label>
                                                </div>
                                            </div>

                                            <div class="hour-item col-md-12 hideable_6" *ngIf="hideable_6==true" id="row_81">
                                                <div class="row">
                                                    <div class="col-sm-5 pr-0 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>

                                                            <input type="time" class="form-control timepicker" min="09:00" max="18:00" value="{{date6.start}}" placeholder="Start time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>
                                                            <input type="time" class="form-control timepicker" name="end_time_1[]" value="{{date6.end}}" placeholder="End time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 mb-2"><a data-id="77" href="https://virmani.robotone.in/admin/appointment/delete_time/77" class="del_time_row delete_item text-danger"><i size="18" data-feather="trash"></i></a></div>
                                                </div>
                                            </div>

                                            <div class="houritem_5 col-md-12"></div>

                                            <!--                  <div class="form-group col-sm-12 mt-2 hideable_6" style="display: block;">
                                              <a href="#" data-id="5" class="add_time_row"><i class="fa fa-plus-circle"></i> Add new time</a>
                                            </div>-->

                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>



                                        <div class="rows w-100 mb-20">

                                            <div class="form-group col-md-12 mb-0">
                                                <div class="custom-control custom-switch  mb-1 pt-10">
                                                    <input type="checkbox" value="7" name="day_6" (change)="onChange($event)" class="custom-control-input day_option" id="switch-7" checked="">
                                                    <label class="custom-control-label" for="switch-7">Saturday</label>
                                                </div>
                                            </div>

                                            <div class="hour-item col-md-12 hideable_7" *ngIf="hideable_7==true" id="row_82">
                                                <div class="row">
                                                    <div class="col-sm-5 pr-0 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>

                                                            <input type="time" class="form-control timepicker" min="09:00" max="18:00" value="{{date7.start}}" placeholder="Start time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5 mb-2">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                                            </div>
                                                            <input type="time" class="form-control timepicker" name="end_time_1[]" value="{{date7.end}}" placeholder="End time" autocomplete="off">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-2 mb-2"><a data-id="77" href="https://virmani.robotone.in/admin/appointment/delete_time/77" class="del_time_row delete_item text-danger"><i size="18" data-feather="trash"></i></a></div>
                                                </div>
                                            </div>

                                            <div class="houritem_6 col-md-12"></div>
                                            <div class="day_highliter"></div>
                                            <div class="day_divider"></div>
                                        </div>


                                    </div>
                                    <div class="row text-center">
                                        <div class="col-4 col-sm-6 mb-2">
                                        </div>
                                        <div class="col-8 col-sm-12 mb-2">
                                            <button type="submit" class="btn btn-primary" style="width:150px;"><i class="fa fa-check"></i> Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--/  Add New Customer Sidebar -->
</div>
