<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="drug-list-wrapper">
            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <div class="d-flex align-items-center">
                                <label class="d-flex align-items-center">
                                    Show
                                    <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="
              col-md-6 col-lg-4 col-12
              d-flex
              justify-content-start justify-content-md-end
              align-items-center
              offset-lg-2
            ">
                        <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">

                            <div class="col-10 col-md-12 mt-2 ml-1 ml-md-0 mt-md-0">
                                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0">
                                    <input [(ngModel)]="searchValue"
                                           name="searchValue"
                                           type="search"
                                           class="form-control"
                                           placeholder="Search..."
                                           (keyup)="filterUpdate($event)"
                                           (search)="filterUpdate($event)" />
                                </label>
                            </div>
                        </div>
                    </div>          
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="col-md-2 pull-right text-right">
                            <a href="javascript://" (click)="printDiv()" class="btn btn-dark"><i class="fa fa-print"></i> Print</a>
                        </div>
                    </div>
                </div>
                <div class="row" id="printDiv">
                        <div *ngIf="loading==true" class="table-loading">
                            <div class="table-loading-text">
                                Loading...
                            </div>
                        </div>
                        <table class="table1 table-bordered table-hover" cellspacing="0" style="overflow:scroll;width:100%">
                            <thead>
                                <tr class="table-header">
                                    
                                </tr>
                            </thead>
                <!-- Invoice List Table -->
                <ngx-datatable [rows]="rows"
                               rowHeight="auto"
                               class="bootstrap core-bootstrap"
                               [limit]="selectedOption"
                               [columnMode]="ColumnMode.force"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [scrollbarH]="true">
                    <ngx-datatable-column [width]="20">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <input type="checkbox" [(ngModel)]="row.isSelected" />
                            {{ value }}
                          </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date" prop="date" [width]="90">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="row">
                                <div class="col-12">{{row.date | date: 'dd/MM/yyyy'}}</div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tooth Number" prop="toothName"></ngx-datatable-column>
                    <ngx-datatable-column name="Treatment Code">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <span *ngIf="row.treatmentCode!=null">{{row.treatmentCode}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Dr. Name" prop="doctorName"></ngx-datatable-column>
                    <ngx-datatable-column name="Notes & Diagnosis" prop="notesdiagnosis">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div *ngIf="!row.expanded">
                              {{ value | slice:0:20 }}
                              <span *ngIf="value.length > 20">
                                <a href="javascript://" (click)="toggleExpand(row)">... Show more</a>
                              </span>
                            </div>
                            <div *ngIf="row.expanded">
                              {{ value }}
                            </div>
                          </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="workdoneStatus" [width]="80"></ngx-datatable-column>
                    <ngx-datatable-column name="Amt Dues" prop="amtDueCurrentWork"  [width]="80"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [sortable]="false" [width]="80">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div class="d-flex align-items-center col-actions">
                                <a class="mr-1"
                                 container="body"
                                 placement="top"
                                 href="javascript:void(0)"
                                 (click)="EditWorkDone(row.id,row.estimatedAmount,row.toothName,row.treatmentCode,row.doctorName, row.doctor_Id ,row.workdones, row.workdoneStatus)"
                                 ngbTooltip="Edit" [disabled]="isPrinted">
                                <i size="18" data-feather="edit"></i>
                           </a>
                                <a class="mr-1"
                                   container="body"
                                   placement="top"
                                   href="javascript:void(0)"
                                   (click)="delete(row.id)"
                                   ngbTooltip="Delete" [disabled]="isPrinted">
                                    <i size="18" data-feather="trash"></i>
                                </a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                </table>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade my-modal" tabindex="-1" role="dialog" #workdoneModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Workdone</h5>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <div class="row">
                        <div class="col-md-12 mb-1"><strong>TOOTH NUMBER:</strong> {{toothNumber}}</div>
                        <div class="col-md-12"><strong>JOB:</strong> {{job}}</div>
                    </div>
                    <form id="form-modal-workdone" [formGroup]="workdoneForm"
                          class="todo-modal needs-validation"
                          (ngSubmit)="saveWorkDoneForm()">
                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="clear"></div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><strong>By Doctor</strong></label>
                                        <!-- <input type="text" name="supplier" class="form-control" required> -->
                                        <select class="form-control select2"
                                                [(ngModel)]="workdone.doctor_Id"
                                                formControlName="doctor_Id"
                                                aria-describedby="doctor_Id"
                                                [ngClass]="{ 'is-invalid': submitted && f.doctor_Id.errors }">
                                            <option value="">Select Doctor</option>
                                            <option *ngFor="let item of doctors" value="{{item.id}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estimated Amount</label>
                                        <input type="text" disabled="disabled"
                                               class="form-control"
                                               tabindex="2"
                                               [maxlength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.estimated_Amount"
                                               formControlName="estimated_Amount"
                                               aria-describedby="estimated_Amount" />
                                        <!--<input name="estimate_amt" id="estimate_amt" readonly="" placeholder="" type="number" class="form-control" required="" value="5000" >-->
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Realized treatment cost</label>
                                        <input type="text" disabled="disabled"
                                               class="form-control"
                                               tabindex="2"
                                               [maxlength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.realized_Treatment_Cost"
                                               formControlName="realized_Treatment_Cost"
                                               aria-describedby="realized_Treatment_Cost" />
                                               
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Amount Due for Today's Work.</label>
                                        <input type="text" (change)="chngCurrentwork($event)" class="form-control"
                                               tabindex="3"
                                               [maxlength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.current_Work_Amt"
                                               formControlName="current_Work_Amt"
                                               aria-describedby="current_Work_Amt"
                                               [ngClass]="{ 'is-invalid': submitted && f.current_Work_Amt.errors }" />
                                        <!--<input name="current_work" id="current_work" (change)="chngCurrentwork($event)" placeholder="" type="number" class="form-control" required="" value="">-->
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Discount.</label>
                                        <input type="text" (change)="chngDiscount($event)" class="form-control"
                                               tabindex="4"
                                               [maxLength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.discount"
                                               formControlName="discount"
                                               aria-describedby="discount" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total Amount</label>
                                        <input type="text" disabled="disabled"
                                               class="form-control"
                                               tabindex="5" value="0"
                                               [maxLength]=10
                                               [mask]="'numeric'"
                                               [(ngModel)]="workdone.total_Amt"
                                               formControlName="total_Amt"
                                               aria-describedby="total_Amt" />

                                    </div>
                                </div>
                                <div class="payment_bxblock pyatm col-md-6">
                                    <label> Treatment</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" [checked]= "this.workdone.workdone_Status === 'Observation'" name="workdone_status" (change)="chamgeStatus(0)" id="observation_new" value="0">
                                                <label class="form-check-label" for="observation_new">
                                                    Observation
                                                </label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" [checked]= "this.workdone.workdone_Status === 'Completed'" name="workdone_status" id="completed_new" value="1" (change)="chamgeStatus(1)">
                                                <label class="form-check-label" for="completed_new">
                                                    Completed
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" [checked]= "this.workdone.workdone_Status === 'Incomplete'" name="workdone_status" id="incompleted_new" value="2" (change)="chamgeStatus(2)">
                                                <label class="form-check-label" for="incompleted_new">
                                                    Incomplete
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="payment_bxblock pyatm col-md-12">
                                    <label>Work Done Notes</label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-control"
                                                      tabindex="7"
                                                      rows="5"
                                                      cols="20"
                                                      [maxlength]=100
                                                      [(ngModel)]="workdone.workdone_Notes"
                                                      formControlName="workdone_Notes"
                                                      aria-describedby="workdone_Notes">
                                                   </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-3" *ngIf="isWorkdonesave==true">
                                        <a href="/admin/appointment/add/{{patientId}}/{{workdoneid}}"  target="_blank" class="btn btn-primary">Appointment</a>
                                    </div>
                                    <div class="col-md-3" *ngIf="isWorkdonesave==true">
                                        <a href="/admin/prescription/add/{{patientId}}/{{workdoneid}}"  target="_blank" class="btn btn-primary ml-1">Prescription</a>
                                    </div>
                                    <div class="col-md-2" *ngIf="isWorkdonesave==true">
                                        <input type="submit" name="save" value="Save"  class="btn btn-primary ml-1" (click)="saveAndShowMessage()">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-danger ml-1" (click)="close()">Close</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isSaved"  style="background-color: #008000; color: #ffffff; padding: 10px; border-radius: 5px;">
                                <p class="thank-you-message">Thank you for submitting!</p>
                              </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
