.brd-20 {
    border-radius: 20px !important;
}

.badge-success-soft {
    background-color: rgba(40,167,69,.1);
    color: #28a745;
}

.badge {
    display: inline-block !important;
    font-size: 13px;
    padding: 4px 12px;
    line-height: 1.6;
}

.badge {
    font-weight: 500;
}
.text-center {
    text-align: center
}
.mt-4px {
    margin-top:4px;
}

