<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row card-body">
                <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                        <p>{{ error }}</p>
                    </div>
                </ngb-alert>
                <div class="col-xl-12 col-md-12 col-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title">Create New Prescription</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row mb-30p">
                                <div class="col-md-6">
                                    <span class="user-header">  {{userName}}</span>
                                    <br />
                                    <span> {{userEmail}}</span>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <span class="user-header"> {{chamberName}}</span>

                                    <br />
                                    {{chamberTitle}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row mb-30p">
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label for="next_Duration"
                                               [class.invalid-class]="submitted && formData.next_Duration.errors">Next Follow Up</label>
                                        <select name="next_Duration" [formControl]="formData.next_Duration" class="form-control"
                                                aria-describedby="formData.next_Duration" tabindex="5"
                                                [ngClass]="{ 'is-invalid': submitted && formData.next_Duration.errors }">
                                            <option value="">Select days</option>
                                            <option value="1">1 </option>
                                            <option value="2">2 </option>
                                            <option value="3">3 </option>
                                            <option value="4">4 </option>
                                            <option value="5">5 </option>
                                            <option value="6">6 </option>
                                            <option value="7">7 </option>
                                            <option value="8">8 </option>
                                            <option value="9">9 </option>
                                            <option value="10">10 </option>
                                            <option value="11">11 </option>
                                            <option value="12">12 </option>
                                            <option value="13">13 </option>
                                            <option value="14">14 </option>
                                            <option value="15">15 </option>
                                            <option value="16">16 </option>
                                            <option value="17">17 </option>
                                            <option value="18">18 </option>
                                            <option value="19">19 </option>
                                            <option value="20">20 </option>
                                            <option value="21">21 </option>
                                            <option value="22">22 </option>
                                            <option value="23">23 </option>
                                            <option value="24">24 </option>
                                            <option value="25">25 </option>
                                            <option value="26">26 </option>
                                            <option value="27">27 </option>
                                            <option value="28">28 </option>
                                            <option value="29">29 </option>
                                            <option value="30">30 </option>
                                            <option value="31">31 </option>
                                        </select>
                                        <ng-container *ngFor="let error of formData.next_Duration.errors ">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="next_Time" [class.invalid-class]="submitted && formData.next_Time.errors"></label>
                                    <div class="d_flex">
                                        <select name="next_Time" class="form-control" id="" [formControl]="formData.next_Time"
                                                aria-describedby="formData.next_Time" tabindex="5"
                                                [ngClass]="{ 'is-invalid': submitted && formData.next_Time.errors }">
                                            <option value="">Select time </option>
                                            <option value="days">Days </option>
                                            <option value="months">Months</option>
                                            <option value="years">Years </option>
                                        </select>
                                        <ng-container *ngFor="let error of formData.next_Time.errors ">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="patient_Id" [class.invalid-class]="submitted && formData.patient_Id.errors">Patient</label>
                                    <select class="form-control" [formControl]="formData.patient_Id" name="patient_id"
                                            aria-describedby="formData.patient_Id" tabindex="5"
                                            [ngClass]="{ 'is-invalid': submitted && formData.patient_Id.errors }">
                                        <option class='option' value="">Select Patient</option>
                                        <option class='option' *ngFor='let option of patientList' [value]="option.id">{{option.name}}</option>
                                    </select>
                                    <ng-container *ngFor="let error of formData.patient_Id.errors ">
                                        <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                    </ng-container>
                                </div>
                                <div class="col-md-4" style="padding-top:25px">
                                    <label for="basic-medicinetype"></label>
                                    <button class="btn btn-default" (click)="addPatient()">
                                        <i size="18" class="fa fa-plus"></i>
                                        Add Patient
                                    </button>
                                    <button class="btn btn-default" (click)="addDrug()"><i class="fa fa-plus"></i> Add Drug </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="col-md-121">
                        <div class="form-group">
                            <label for="drug_Id" [class.invalid-class]="submitted && formData.drug_Id.errors">Drug</label>

                            <select class="form-control" style="width:300px;" [formControl]="formData.drug_Id" name="drug_Id" (change)='getDrugDetails(drugSelected.value)' #drugSelected
                                    aria-describedby="formData.drug_Id" tabindex="5"
                                    [ngClass]="{ 'is-invalid': submitted && formData.drug_Id.errors }">
                                <option class='option' value="">Select Drug</option>
                                <option class='option' *ngFor='let option of drugList' [value]="option.id">{{option.basic_Salt}}</option>
                            </select>
                            <ng-container *ngFor="let error of formData.drug_Id.errors ">
                                <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                            </ng-container>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <table width="100%">
                                <tr>
                                    <td style="width:200px">{{medicine_Type}}</td>
                                    <td style="width:100px">{{medicine_Company}}</td>
                                    <td style="width:100px">{{form}}</td>
                                    <td style="width:100px">{{dosage}}</td>
                                    <td style="width:100px">{{description}}</td>
                                    <td style="width:100px">{{details}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body invoice-padding invoice-product-details">
                    <form class="source-item">
                        <div data-repeater-list="group-a">
                            <div class="repeater-wrapper" data-repeater-item *ngFor="let item of drugItems; let i = index" @heightIn>
                                <div class="row">
                                    <div class="col-12 d-flex product-details-border position-relative pr-0">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <select class="form-control" style="width:300px;" [formControl]="drugItems.id" name="drug_Id" (change)='getDrugId(drugSelected.value,i)' #drugSelected>
                                                    <option class='option' value="">Select Drug</option>
                                                    <option class='option' *ngFor='let opt of drugList' [value]="opt.id">{{opt.basic_Salt}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <button (click)="deleteItem(i)" class="btn p-0">
                                                    <i data-feather="x" [size]="18" class="cursor-pointer"></i>
                                                </button>
                                            </div>

                                            <div *ngFor="let data of drugDetails1; let k = index">
                                                <div class="col-md-12 mt-1" *ngIf="data.id==item.id">
                                                    <div class="form-group">
                                                        <table width="100%">
                                                            <tr>
                                                                <td style="width:200px">{{data.medicine_Type}}</td>
                                                                <td style="width:100px">{{data.medicine_Company}}</td>
                                                                <td style="width:100px">{{data.form}}</td>
                                                                <td style="width:100px">{{data.dosage}}</td>
                                                                <td style="width:100px">{{data.description}}</td>
                                                                <td style="width:100px">{{data.details}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12 px-0">
                                <button type="button" class="btn btn-primary btn-sm btn-add-new" (click)="addItem()" rippleEffect>
                                    <i data-feather="plus" class="mr-25"></i>
                                    <span class="align-middle">Add Item</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--<div class="col-md-12">
                    <div class="float-right">
                        <button type="button" rippleEffect class="btn btn-primary"><i class="fa fa-plus"></i>Add New Item</button>
                    </div>
                </div>-->
                <div class="col-md-12 mt-3">
                    <div class="float-right">
                        <a href="/admin/prescription/list" class="btn btn-outline-secondary mr-1">Cancel</a>
                        <button type="button" (click)="saveForm();" rippleEffect class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade my-modal" tabindex="-1" role="dialog" #patientModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Patient</h5>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow:scroll">
                    <form id="form-modal-todo"
                          class="todo-modal needs-validation"
                          (ngSubmit)="(todoForm.form.valid)"
                          #todoForm="ngForm">
                        <div class="action-tags">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="basic-medicinetype"
                                               [class.invalid-class]="submitted && patientFromData.name.errors">Name</label>
                                        <input type="text" [formControl]="patientFromData.name" class="form-control" placeholder=""
                                               aria-describedby="patientFromData.name" tabindex="5"
                                               [ngClass]="{ 'is-invalid': submitted && patientFromData.name.errors }" />
                                        <ng-container *ngFor="let error of patientFromData.name.errors ">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="basic-medicinetype"
                                               [class.invalid-class]="submitted && patientFromData.email.errors">Email</label>
                                        <input type="text" [formControl]="patientFromData.email" class="form-control" placeholder=""
                                               aria-describedby="patientFromData.email" tabindex="5"
                                               [ngClass]="{ 'is-invalid': submitted && patientFromData.email.errors }" />
                                        <ng-container *ngFor="let error of patientFromData.email.errors">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="basic-medicinetype"
                                               [class.invalid-class]="submitted && patientFromData.mobile.errors">Phone</label>
                                        <input type="text" [formControl]="patientFromData.mobile" class="form-control" placeholder=""
                                               aria-describedby="patientFromData.mobile" tabindex="5"
                                               [ngClass]="{ 'is-invalid': submitted && patientFromData.mobile.errors }" />
                                        <ng-container *ngFor="let error of patientFromData.mobile.errors ">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="basic-medicinetype"
                                               [class.invalid-class]="submitted && patientFromData.age.errors">Age</label>
                                        <input type="text" [formControl]="patientFromData.age" class="form-control" placeholder=""
                                               aria-describedby="patientFromData.age" tabindex="5"
                                               [ngClass]="{ 'is-invalid': submitted && patientFromData.age.errors }" />
                                        <ng-container *ngFor="let error of patientFromData.age.errors ">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="basic-medicinetype"
                                               [class.invalid-class]="submitted && patientFromData.weight.errors">Weight</label>
                                        <input type="text" [formControl]="patientFromData.weight" class="form-control" placeholder=""
                                               aria-describedby="patientFromData.weight" tabindex="5"
                                               [ngClass]="{ 'is-invalid': submitted && patientFromData.weight.errors }" />
                                        <ng-container *ngFor="let error of patientFromData.weight.errors">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="basic-medicinetype"
                                               [class.invalid-class]="submitted && patientFromData.sex.errors">Sex</label>
                                        <select class="form-control" [formControl]="patientFromData.sex"
                                                aria-invalid="false"
                                                [ngClass]="{ 'is-invalid': submitted && patientFromData.sex.errors }">
                                            <option value="">Select</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <ng-container *ngFor="let error of patientFromData.sex.errors">
                                            <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group my-1">
                            <div class="modal-footer">
                                <button type="submit" (click)="savePatientForm()"
                                        class="btn btn-primary add-todo-item mr-1"
                                        rippleEffect>
                                    Add
                                </button>
                                <button type="button" class="btn btn-secondary" (click)="close()">
                                    Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade my-modal" tabindex="-1" role="dialog" #drugModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Drug</h5>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow:auto">
                    <form id="form-modal-todo"
                          class="todo-modal needs-validation"
                          (ngSubmit)="(todoForm.form.valid)"
                          #todoForm="ngForm">
                        <div class="action-tags">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="medicine_Company"
                                           [class.invalid-class]="submitted && drugFromData.medicine_Company.errors">Name</label>
                                    <input type="text" [formControl]="drugFromData.medicine_Company" class="form-control" placeholder=""
                                           aria-describedby="drugFromData.medicine_Company" tabindex="5"
                                           [ngClass]="{ 'is-invalid': submitted && drugFromData.medicine_Company.errors }" />
                                    <ng-container *ngFor="let error of drugFromData.medicine_Company.errors ">
                                        <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="medicine_Category_Id"
                                       [class.invalid-class]="submitted && drugFromData.medicine_Category_Id.errors">Name</label>
                                <select class="form-control" [formControl]="drugFromData.medicine_Category_Id" [ngClass]="{ 'is-invalid': submitted && drugFromData.medicine_Category_Id.errors }">
                                    <option class='option' value="">Select Category</option>
                                    <option class='option' *ngFor='let option of medicinCategoryList' [value]="option.id">{{option.medicine_Category}}</option>
                                </select>
                                <ng-container *ngFor="let error of drugFromData.medicine_Category_Id.errors ">
                                    <span *ngIf="submitted" class="invalid-class"> {{ messages[error] }}</span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group my-1">
                            <div class="modal-footer">
                                <button type="submit" (click)="saveDrugForm()"
                                        class="btn btn-primary add-todo-item mr-1"
                                        rippleEffect>
                                    Add
                                </button>
                                <button type="button" class="btn btn-secondary" (click)="close()">
                                    Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>