

<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section class="invoice-add-wrapper">
            <div class="row invoice-add">
                <!-- Invoice Add Left starts -->
                <div class="col-xl-12 col-md-8 col-12">
                    <div class="card invoice-preview-card">
                        <!-- Header starts -->
                        <div class="card-body invoice-padding pb-0">
                            <div class="row">
                                <div class="col-xl-9 col-md-8 col-12">
                                    <div>
                                        <h3 class="text-primary invoice-logo">Staff Details</h3>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-8 col-12">
                                    <a class="btn btn-primary btn-sm ml-2 flot-right" href="/admin/staff/list"><i class="fa fa-list"></i> All Staffs </a>
                                </div>
                            </div>
                            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                                <div class="alert-body">
                                    <p>{{ error }}</p>
                                </div>
                            </ngb-alert>
                            <div class="box-body pt-1 pb-1">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="user-avatar-section">
                                                <div class="d-flex justify-content-start">
                                                    <div class="ng-star-inserted">
                                                        <img *ngIf="staffData.thumb!=null" height="104" width="104" alt="User avatar" class="img-fluid rounded" src="{{staffData.thumb}}">
                                                        <img *ngIf="staffData.thumb==null" height="104" width="104" alt="User avatar" class="img-fluid rounded" src="assets/front/img/avatar.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">

                                            <label for="basic-medicinetype" class="font-weight-bold font-medium-1">Name </label><span class=" d-block">{{staffData.name}}</span>

                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="mc" class="font-weight-bold font-medium-1">Gender </label><span class="d-block">{{staffData.gender}}</span>

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label class="font-weight-bold font-medium-1">DOB</label>
                                                <br />
                                                <span class="d-block">{{staffData.dob}}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Marital Status</label>
                                                <br />
                                                <span class="d-block">{{staffData.marital_Status}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Date Of Joining</label>
                                                <br />
                                                <span class="d-block">{{staffData.date_Of_Joining}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Email  </label>
                                                <br />
                                                <span class="d-block">{{staffData.email}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Phone </label>
                                                <br />
                                                <span class="d-block">{{staffData.phone}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Department </label>
                                                <br />
                                                <span class="d-block">{{staffData.department}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Designation </label>
                                                <br />
                                                <span class="d-block">{{staffData.designation}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label class="font-weight-bold font-medium-1">Blood Group </label>
                                                <br />
                                                <span class="d-block">{{staffData.blood_Group}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Father </label>
                                            <br />
                                            <span class="d-block">{{staffData.father}}</span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Mother </label>
                                            <br />
                                            <span class="d-block">{{staffData.mother}}</span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Work Experience </label>
                                            <br />
                                            <span class="d-block">{{staffData.work_Experience}}</span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Current Address </label>
                                            <br />
                                            <span class="d-block">
                                                {{staffData.current_Address}}
                                            </span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Permanent Address </label>
                                            <br />
                                            <span class="d-block">{{staffData.permanent_Address}}</span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Qualification </label>
                                            <br />
                                            <span class="d-block">{{staffData.qualification}}</span>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label class="font-weight-bold font-medium-1">Specialization </label>
                                            <br />
                                            <span class="d-block">{{staffData.specialization}}</span>
                                        </div>

                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Bank List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Name</th>
                                                                <th class="text-truncate">Bank Account Number</th>
                                                                <th class="text-truncate"> Ifsc Code</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let bank of staffData.staffBankList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{bank.bank_Name}}</span>
                                                                </td>
                                                                <td class="text-truncate">{{bank.bank_Account_Number}}</td>
                                                                <td class="text-truncate"> {{bank.ifsc_Code}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Insurance List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Insurance Name</th>
                                                                <th class="text-truncate">Insurance Date</th>
                                                                <th class="text-truncate">Renewal Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let bank of staffData.staffInsuranceList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium">{{bank.insurance}}</span>
                                                                </td>
                                                                <td class="text-truncate"> {{bank.insurance_Date | date: 'dd/MM/yyyy'}}</td>
                                                                <td class="text-truncate"> {{bank.renewal_Date | date: 'dd/MM/yyyy'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Vaccination List</h5>
                                                <div class="table-responsive">
                                                    <table class="table border-top">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-truncate">Type</th>
                                                                <th class="text-truncate">Date</th>
                                                                <th class="text-truncate">Reminder Date For Next</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr *ngFor="let vac of staffData.staffVaccinationList">
                                                                <td class="text-truncate">
                                                                    <i class="ti ti-brand-windows text-info ti-xs me-2"></i>
                                                                    <span class="fw-medium"> {{vac.vaccination_Type}}</span>
                                                                </td>
                                                                <td class="text-truncate"> {{vac.vaccination_Date | date: 'dd/MM/yyyy'}}</td>
                                                                <td class="text-truncate"> {{vac.reminder_Date_For_Next | date: 'dd/MM/yyyy'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--/  Add New Customer Sidebar -->
</div>





